
<div class="login-sign-up center-block">
<!-- sign up form-->
  <form class="sign-up-form input_h" id="sign-up-form" data-role="sign-up">
  <fieldset data-status="false">
    <div class="switch-form clearfix center-block text-center">
        <p class="h3 clearfix gray">Sign up for your free Big Picture account</p>
        
        <span class="">Big Picture Basic is free. No credit card required.  
        <br>Already have a Premium Account? <a class="switch_login" href="javascript:void(0)">Log in here.</a>
        </span>
        
      
    </div>

    <div class="email text-left">
      <input style="height:46px;margin-bottom:12px" placeholder="Email" name="email" class="form-control" data-recurly="email" id="email" type="email" value="" />
      <input class="currentCountry" name="country" type="hidden" value="">
      <input type="hidden" name="transaction" value="free">
      
    </div>

    
    <button class="btn btn-lg btn-block btn-warning text-uppercase" style="font-size:14px">Step into the light</button>
    <span class="checkbox text-left thin gray-light">By continuing, I agree to the <a href="javascript:void(0)" class="semibold">Terms of Use</a></span>
    <p></p>
  
    </fieldset>
    
</form>

<!--log in form-->

  <form class="log-in input_h display_none" id="log-in" data-role="log-in">
  <fieldset class="text-left">
    <div class="switch-form clearfix center-block text-center">
        <p class="h3 positionIndex text-center clearfix">Log in to Big Picture Premium</p>
        <span>Don't have a Premium account? <a href="pro.html">Sign up here.</a>
        <br>
        
        </span>
    </div>
    <div class="email clearfix">
      <input placeholder="Email" name="email" class="form-control" id="email" data-recurly="email" type="email" value="" />
    </div>
    
    <div class="pass-word">
      <input placeholder="Password"  name="password" id="pass-word" class="form-control" type="password" value="" />
    </div>
    <div class="agree checkbox text-left">
  		<label><input name="" type="checkbox" value="" >Remember me</label>
	</div>
    <button id="" class="btn btn-lg btn-block btn-warning text-uppercase">Log in</button>
    <p></p>
    <div>
        <a href="forgot_password.html">Forgot your password?</a>
    </div>
    <div class="throw_error"></div>
    <div id="success"></div>
</fieldset>
</form>
</div>