<div class="discount_container display_none gray-light">
                    		<table class="table table-bordered ">
								<thead>
								  <tr>
									<th class="semibold text-center" colspan="2" style="width:60%">NO. OF USERS</th>
									<th class="semibold text-center vertical-align-m" rowspan="2">MONTHLY SUBS. FEE <span class="normal">(USD)</span></th>

								  </tr>
								  <tr>
									<th class="normal text-center">From</th>
									<th class="normal text-center">To</th>

								  </tr>
								</thead>
								<tbody class="thin">

								  <tr>
									<td>-</td>
									<td>2</td>
									<td class="price_vale">$27.22</td>
								  </tr>
								  <tr>
									<td>3</td>
									<td>4</td>
									<td class="price_vale">$22.79</td>
								  </tr>
								  <tr>
									<td>5</td>
									<td>8</td>
									<td class="price_vale">$20.06</td>
								  </tr>
								  <tr>
									<td>9</td>
									<td>16</td>
									<td class="price_vale">$17.31</td>
								  </tr>
								  <tr>
									<td>17</td>
									<td>32</td>
									<td class="price_vale">$14.77</td>
								  </tr>
								  <tr>
									<td>33</td>
									<td>64</td>
									<td class="price_vale">$12.51</td>
								  </tr>
								  <tr>
									<td>65</td>
									<td>128</td>
									<td class="price_vale">$10.56</td>
								  </tr>
								  <tr>
									<td>129</td>
									<td>256</td>
									<td class="price_vale">$8.90</td>
								  </tr>
								  <tr>
									<td>257</td>
									<td>512</td>
									<td class="price_vale">$7.49</td>
								  </tr>
								  <tr>
									<td>513</td>
									<td>1,024</td>
									<td class="price_vale">$6.30</td>
								  </tr>
								  <tr>
									<td>1,025</td>
									<td>2,048</td>
									<td class="price_vale">$5.30</td>
								  </tr>
								  <tr>
									<td>2,049</td>
									<td>4,096</td>
									<td class="price_vale">$4.46</td>
								  </tr>
								  <tr>
									<td>4,097</td>
									<td>8,192</td>
									<td class="price_vale">$3.75</td>
								  </tr>
								  <tr>
									<td>8,193</td>
									<td>16,384</td>
									<td class="price_vale">$3.15</td>
								  </tr>
								  <tr>
									<td>16,385+</td>
									<td colspan="2" class="price_vale">Please contact us</td>
								  </tr>
								</tbody>
						  </table>
                   			
                    	</div>