		<!-- ONE SINGLE PAGE: hidden unless is has the "is_active" class
			\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			 -->
            
            
<!--            <div id="mtnBubble" class="chart_bubble shadow-lighter"></div>-->

			<div class='onepage is_active svgArea'>	
				
				<!-- page text is the stuff before the chart -->
				<div class='pagetext'>
			
					
			
					<h1 class='graph_title'></h1>
			
					<p class='graphSubTitle'></p>
			
				</div><!-- end .pagetext -->
			
			
				<!-- this is where the charts go. everything inside with class='chart' is width = 100% -->
				<div class='chartspace'>
					
<!--					<span class='y2AxisTitle align-center'></span>-->
					<span class='xAxisTitle align-center'><div class='x-text'>{{{x_title}}}</div></span>
				</div>	
				<!-- small disclaimers -->
				<div class='note'></div>	
					
			</div><!-- end .onepage -->

            

			<!-- 
			\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			end ONE SINGLE PAGE -->
          
            
			