		<!-- ONE SINGLE PAGE: hidden unless is has the "is_active" class
			\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			 -->
            
            
<!--            <div id="mtnBubble" class="chart_bubble shadow-lighter"></div>-->

			<div class='onepage is_active svgArea'>	
				
				<!-- page text is the stuff before the chart -->
				<div class='pagetext'>
			
					
			
					<h1 class='graph_title'></h1>
			
					<p class='graphSubTitle'></p>
			
				</div><!-- end .pagetext -->
			
			
				<!-- this is where the charts go. everything inside with class='chart' is width = 100% -->
				<div class='chartspace'>
					
<!--					<span class='y2AxisTitle align-center'></span>-->
					<span class='xAxisTitle align-center'><div class='x-text'>{{{x_title}}}</div></span>
				</div>	
				<!-- small disclaimers -->
				<div class='note'></div>	
					
			</div><!-- end .onepage -->

            

			<!-- 
			\\\\\\\\\\\\\\\\\\\\\\\\\\\\
			end ONE SINGLE PAGE -->
            
			<div class=pagenavwrap>
				<div class='graphnav'>
					<div class='prev graph-arrow'> 				
						<svg height="37" viewBox="0 0 24 24" width="37" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
						</svg>
					 </div><!-- end .prev -->
		
					<div class='graph-dash is_active'>&mdash;</div>
					<div class='graph-dash'>&mdash;</div>
					<div class='graph-dash'>&mdash;</div>
					<div class='graph-dash'>&mdash;</div>
					<div class='graph-dash'>&mdash;</div>
		            <div class='graph-dash'>&mdash;</div>
		
					<div class='next graph-arrow'> 					
						 <svg  height="37" viewBox="0 0 24 24" width="37" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
						</svg>
					 </div>
				</div>
			</div>

            
			