/**
 * GENERAL STYLES
 */

@font-face {
    
    font-family: 'Scotia';
    src: url('../fonts/Scotia_W_Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Scotia', 'Arial';
    font-size: 1.05em;

/*    background-color: #eee;*/
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    width: 100%;
    height: 100%;
}
input, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, select { -webkit-appearance: none; }
input {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}
select.input-lg { line-height: 133%; padding: 0px 16px; }
b, h1, h2, h3, h4, h5, h6, .bold, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family: 'Scotia', 'Arial';
    font-weight: normal; }


/* HEADER */
.header {
    font-family: 'Scotia', 'Arial';
    position: fixed; top: 0px; left: 0px; width: 100%;
/*    height: 48px;*/
     font-size: 20px; line-height: 40px; letter-spacing: 0.05em;
    color: hsl(0, 0%, 95%); background-color: white;
}
/*.header.ios7 { height: 68px; padding-top: 24px; }*/
.header .title { text-transform: uppercase; vertical-align: 3px; }
.header .btn { 
       height: 44px;
    /* width: 89px; */
    background: none;
    padding: 0;
    margin-right: 25px;
/*    padding-left: 25px;*/
    /* margin-right: 2px; */
    /* margin-left: 2px; */
    color: #424242;
}

/* ASSET BUTTONS */

button.btn.btn-asset { position: relative; text-align: left; padding-left: 12px;  }
button.notselected .icon { fill: #ccc; }
button.selected.btn-cdn_stocks { color: #B30737; fill: #B30737; }
button.selected.btn-us_stocks { color: #31929B; fill: #31929B; }
button.selected.btn-intl_stocks { color: #376B8E; fill: #376B8E; }
button.selected.btn-b_portfolio { color: #008B5D; fill: #008B5D; }
button.selected.btn-bonds { color: #C88A12; fill: #C88A12; }
button.selected.btn-tbills { color: #7C4B7E; fill: #7C4B7E; }
button.selected.btn-inflation { color: #8B806E; fill: #8B806E; }

/* MOBILE FIXES FOR BUTTONS */
.btn:focus { outline: none; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { color: #333333; background-color: #fff; /*#ebebeb*/ border-color: #ccc; /*#adadad*/ }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: #ffffff; background-color: #428bca; /*#3276b1*/ border-color: #357ebd; /*#285e8e*/ }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success { color: #ffffff; background-color: #5cb85c; border-color: #4cae4c; }

/* OTHER ADJUSTMENTS */
#main { position: relative; }
label { font-size: 1.2em; font-weight: normal; }
.thick {
  font-weight: bold;
}


.loaderGraphic {
    display: none;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 100%;
    height: 102%;
    z-index: 9999;
    background: center no-repeat rgba(255,255,255,1);
    transform: translateZ(0);
    transform: translate3d(0,0,0);
}

.loaderPageGraphic {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    z-index: 99999;
    background: center no-repeat rgba(255,255,255,1);
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    
    position:fixed;
    padding:0;
    margin:0;

} 

.spinner {
    position: absolute;
    margin: 0 0 0 -30px;
    left: 50%;
    top: 50%;
    width: 70px;
    text-align: center;
}
 
 
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #0055a5;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    animation-delay: -0.32s;
}
 
.spinner .bounce2 {
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}


#main_home { padding: 0; height: 489px; top: 50%; margin-top: 155px; }
#main { padding: 0; height: 489px; top: 50%; margin-top: -475px; }

#about_you { border-right: #CCC solid 1px; }
#birth_date .col-xs-6 { padding-top: 15px; padding-bottom: 5px; }
#birth_date .col-xs-6, #f_name .col-xs-12 { padding-left: 10px; padding-right: 10px; }
#lang { margin-bottom: 15px; }

.container { width: 95%; max-width: 768px; padding: 30px 0; }
.row { margin: 0; }
.row.content { margin: 20px 0 20px; }
.row.content .col-xs-6 { padding-top: 5px; padding-bottom: 5px; }

div.title { margin-top: -7px; font-family: 'Scotia', 'DIN-md', 'HelveticaNeue', Helvetica, Arial, sans-serif; color: #0061A9; margin-bottom: 25px; }
button#preferences { height: 44px; width: 44px; background: none; padding: 0; margin-right: 2px; margin-left: 2px; color: hsl(0, 0%, 95%); }