/**
 * ICONS
 */

.icon { position: relative; display: inline-block; }
.header .icon { height: 100%; vertical-align: -12px; }
.btn-asset .icon { position: absolute; top: 7px; left: 7px; }

/* SIZES */
.icon-95 { width: 95px; height: 95px; }
.icon-50 { width: 50px; height: 50px; }
.icon-30 { width: 30px; height: 30px; }
.header .icon-30, .icon-44 { width: 44px; height: 44px; }
.icon-25 { width: 25px; height: 25px; }


/* COLORS */
.fill-dblue { fill: #00416F; }
.fill-lblue { fill: #0061A9; }
.fill-lgray { fill: hsl(0, 0%, 95%); }
.fill-mgray { fill: hsl(0, 0%, 40%); }
.fill-dgray { fill: hsl(0, 0%, 20%); }

.stroke-lblue { stroke: #0061A9; }
.stroke-mgray { stroke: hsl(0, 0%, 40%); }

.icon-cdn_stocks { fill: #7e4e78; }
.icon-us_stocks { fill: #3a84b6; }
.icon-intl_stocks { fill: #49134c; }
.icon-b_portfolio { fill: #a2b427; }
.icon-bonds { fill: #005a65; }
.icon-tbills { fill: #76a4d7; }
