<!--    <link href="/bigpicapp/settings/style.css" rel="stylesheet">-->


<div class="loading_settings position_absolute">
    <div class="setting_loader_wrap">
        <div class="loader loader_m loader_default"></div>
    </div>
</div>

<div class="flex_container">
    <div class="col_1">
        <h2>Upgrade</h2>
        <div class="sub_wrap">
            <div class="col-sm-4 pricing_premium">
                <div class="panel panel-primary bg_gray_light">
                    <div class="panel-heading text-center h5 thin margin_zero">Plus</div>
                    <div class="panel-body">

                        <div class="h4 normal marginTop22">
                            Explore portfolios & associated safe withdrawal rates in depth
                        </div>

                        <div class="marginTop22">
                            <div>
                                <span class="h1 margin_zero padding_zero text-primary position_relatived"><span class="h3 CAinfo display_none">USD </span><span class="USAinfo dallor">$</span>19.99</span>
                                <span class="gray-lighter thin">&nbsp;&nbsp;/ mo</span>
                                <br>
                                <span class="gray-lighter thin">(Billed Annually)</span>
                            </div>
                        </div>
                        <div class="gray-lighter thin freeLineheight"></div>

                        <hr class="hr_1 negaMargin">
                        <div class="text-left marginBottom22 marginTop22">
                            <p class="norma gray-light">Test portfolios containing any allocation of:</p>
                            <ul class="thin gray-light font14">
                                <li>
                                    U.S. Total Market, Large Cap, Mid Cap, Small Cap, Micro Cap, & Int'l Stocks
                                </li>
                                <li>
                                    T-Bills, 5-Yr. & 10-Yr. Gov. Bonds, & Int'l Bonds
                                </li>
                                <li>
                                    Gold
                                </li>
                            </ul>
                        </div>

                        <div class="text-left marginBottom22 marginTop22 light_grey position_relative">

                            <p class="norma gray-light">Client reports</p>
                            <p class="norma gray-light">Unlimited Email Support</p>
                        </div>

                        <hr class="hr_1 negaMargin">
                        <a href="/pro.html" class="btn btn-block btn-warning padding_t padding_b font_20 marginTop22 registerPremium">Upgrade</a>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <div class="col_2">

        <div class="sub_wrap">

            <div class="col-sm-4 pricing_premium">
                <div class="panel panel-primary bg_gray_light">
                    <div class="panel-heading text-center h5 thin margin_zero">Premium</div>
                    <div class="panel-body">

                        <div class="h4 normal marginTop22">
                            Answer even more retirement questions
                        </div>

                        <div class="marginTop22">
                            <div>
                                <span class="h1 margin_zero padding_zero text-primary position_relatived"><span class="h3 CAinfo display_none">USD </span><span class="USAinfo dallor">$</span>24.99</span>
                                <span class="gray-lighter thin">&nbsp;&nbsp;/ mo</span>
                                <br>
                                <span class="gray-lighter thin">(Billed Annually)</span>
                            </div>
                        </div>
                        <div class="gray-lighter thin freeLineheight"></div>
                        <!--                                          <div class="marginBottom2">&nbsp</div>-->
                        <!--                                        <a href="javascript:void(0)" class="marginBottom22 text-primary open_team_discounts">Team Discounts</a>-->
                        <hr class="hr_1 negaMargin">
                        <div class="text-left marginBottom22 marginTop22">
                            <p class="norma gray-light">Test portfolios containing any allocation of:</p>
                            <ul class="thin gray-light font14">
                                <li>
                                    U.S. Total Market, Large Cap, Mid Cap, Small Cap, Micro Cap, & Int'l Stocks
                                </li>
                                <li>
                                    T-Bills, 5-Yr. & 10-Yr. Gov. Bonds, & Int'l Bonds
                                </li>
                                <li>
                                    Gold
                                </li>   
                            </ul> 
                        </div>

                        <div class="text-left marginBottom22 marginTop22 light_grey position_relative">
                            <p class="norma gray-light">"Solve For…" tool: Set inputs, solve for desired variable (e.g. min. req'd nest egg)</p>
                            <p class="norma gray-light">Client reports</p>
                            <p class="norma gray-light">Unlimited Email Support</p>
                        </div>

                        <hr class="hr_1 negaMargin">
                        <a href="/pro.html" class="btn btn-block btn-warning padding_t padding_b font_20 marginTop22 registerPremium">Upgrade</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>
