
<!--    <link href="/bigpicapp/settings/style.css" rel="stylesheet">-->

  
                     <div class="loading_settings position_absolute">
                    	<div class="setting_loader_wrap">
							<div class="loader loader_m loader_default"></div>
						</div>
                     </div>
                    <div class="position_relative">
                        <h1 class="position_relative">Settings</h1>
                        <div class="settings_wrap_close"></div>
                        <div class="position_absolute settings_alert ">
                             <section id="errors" class="settings_error_alert internetRequest display_none"></section>
                             <section class="settings_success_alert display_none"></section>  
                        </div>
                    </div>
                    
                    <div class="flex_container">
                        <div class="col_1">
                            <h2>Profile</h2>
                            <div class="sub_wrap">
                                <span data_settings = "subscriber_name" class="color_gray_9 font16"></span>
                                <p class="title_a" data-settings = "plan_name"></p>
                                <br>
                                <h3 class="color_gray_9 font16">Email</h3>
                                <p data-settings = "email"></p>
                                <p><a class="btn_link change_email" href="javascript:void(0)">Change email</a></p>
                                <form class="change_email_wrap margin_top_b margin_bottom_a settings_display_none">
                                    <div>
                                    <input type="email" class="settings_input" placeholder="New email" id="new_email" name="new_email" value="">
                                    <input type="email" class="settings_input margin_top_a" placeholder="Confirm email"  name="confirm_email" value="">
                                    <br>
                                    </div>
                                    <div class="buttonholder margin_top_a">
                                        <div class="btn change-email-btn margin_top_b">Change email</div>
                                        <a href="javascript:void(0)" class="btn_link cancel_change_email font16 margin_left_b">Cancel</a>
                                    </div>
                                    
                                    
                                </form>
                                
                                
                            </div>
                            <h2>Security</h2>
                            <div class="sub_wrap">
                                <p><a class="btn_link change_password" href="javascript:void(0)">Change password</a>&nbsp;
                                    <span class="font13 display_none limiInfo">(min. 6 characters)</span></p>
                                
                                <form class="change_password_wrap margin_top_b margin_bottom_a settings_display_none">
                                    <div>
                                    <input type="password" class="settings_input" placeholder="Old password" id="old_password" name="change_password_old" value="">
                                    <input type="password" class="settings_input margin_top_a" placeholder="New password" name="change_password_new" value="">
                                    </div>
                                    <div class="buttonholder">
                                        <div class="btn change-password-btn">Change password</div>
                                        <a href="javascript:void(0)" class="btn_link cancel_change_password font16 margin_left_b">Cancel</a>
                                    </div>
                                </form>
                                <p><a class="btn_link forgot_password" href="javascript:void(0)">Forgot password?</a></p>
                            </div>
                        </div>
                        <div class="col_2 position_relative">
                       
                        
                    <h2 class="position_relative">Billing Information <a class="settings_billing_info_edit btn_link" href="javascript:void(0)">Edit</a></h2>
                    
                    <div class="sub_wrap"> 
                        <table class="settings_bill_info">
                            <tbody>
                                <tr>
                                   <th>Name</th>
                                    <td><span data-settings="subscription_first_name"></span>&nbsp;<span data-settings="subscription_last_name"></span></td>
                                </tr>
                                <tr>
                                   <th>Credit Card</th>
                                    <td>XXXX-<span data-settings="billing_credit_card_last"></span> <span data-settings="billing_credit_card_type"></span></td>
                                </tr>
                                <tr>
                                   <th>Expiration</th>
                                    <td><span data-settings="billing_exp_month"></span> / <span data-settings="billing_exp_year"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="billing_info_form display_none">
                            
                            <form action="" >
                            <div class="settings_row clear">
                                <div class="L settings_first_n" >
                                    <label class="settings_label"   for="first_name">First Name</label>
                                    <input  class="settings_input" data-settings="subscription_first_name" data-recurly="first_name" type="text" name="first_name" id="first_name">
                                </div>
                                
                                <div class="R settings_last_n">
                                    <label for="last_name"  class="settings_label">Last Name</label>
                                    <input class="settings_input" data-recurly="last_name" data-settings="subscription_last_name" type="text" name="last_name" id="last_name" value="">
                                </div>
                                <p class="clear"></p>
                            </div>
                            
                            <div class="settings_row clear">
                                <label class="settings_label" for="credit_card_numaber">Credit Card Number</label>
                                <input placeholder="" type="text" name="credit_card_numaber" data-recurly="number" id="credit_card_numaber" class="settings_input" value="">
                            </div>
                            
                            <div class="settings_row">
                            	<div class="L settings_month">
                                	<label for="" class="settings_label">Expiration Date</label>
                                    <select class="settings_input select" id="billing_info_month" data-recurly="month" name="billing_info_month">				
                                    <option value="1">01 - January</option>
                                    <option value="2">02 - February</option>
                                    <option value="3">03 - March</option>
                                    <option value="4">04 - April</option>
                                    <option value="5">05 - May</option>
                                    <option value="6">06 - June</option>
                                    <option value="7">07 - July</option>
                                    <option value="8">08 - August</option>
                                    <option value="9">09 - September</option>
                                    <option value="10">10 - October</option>
                                    <option value="11">11 - November</option>
                                    <option value="12">12 - December</option>
                                    <option value="6">06 - June</option>
                                    <option value="7">07 - July</option>
                                    <option value="8">08 - August</option>
                                    <option value="9">09 - September</option>
                                    <option value="10">10 - October</option>
                                    <option value="11">11 - November</option>
                                    <option value="12">12 - December</option>
                                    </select>
                                </div>
                                
                                <div class="L margin_left_a settings_year ">
                                	<label for="billing_info_year" class="settings_label">&nbsp;</label>
                                	<select class="settings_input select" data-recurly="year" id="billing_info_year" name="billing_info_year">
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="2034">2034</option>
                                    <option value="2035">2035</option>
                                    <option value="2035">2036</option>
                                   </select>
                                </div>
                                <div class="R settings_cvv">
                                  <label for="" class="settings_label" >CVV</label>
                                  <input class="settings_input" type="text" name="ccode" placeholder="XXX" data-recurly="verification_value" value="123">
                                </div> 
                            </div>
                            <p class="clear"></p>
                            <div class="settings_row settings_billing_country">
                                <label for="billing_info_country" class="settings_label">Country</label>
                                <select class="settings_input select" data-recurly="country" data-payment-method="credit_card" id="billing_info_country">
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AC">Ascension Island</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="BQ">British Antarctic Territory</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="VG">British Virgin Islands</option>
                                <option value="BN">Brunei</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="IC">Canary Islands</option>
                                <option value="CT">Canton and Enderbury Islands</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="EA">Ceuta and Melilla</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CP">Clipperton Island</option>
                                <option value="CC">Cocos [Keeling] Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CD">Congo [DRC]</option>
                                <option value="CG">Congo [Republic]</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DG">Diego Garcia</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="NQ">Dronning Maud Land</option>
                                <option value="TL">East Timor</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands [Islas Malvinas]</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="FQ">French Southern and Antarctic Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="CI">Ivory Coast</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JT">Johnston Island</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macau</option>
                                <option value="MK">Macedonia [FYROM]</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="FX">Metropolitan France</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MI">Midway Islands</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar [Burma]</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="KP">North Korea</option>
                                <option value="VD">North Vietnam</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="QO">Outlying Oceania</option>
                                <option value="PC">Pacific Islands Trust Territory</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territories</option>
                                <option value="PA">Panama</option>
                                <option value="PZ">Panama Canal Zone</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="YD">People's Democratic Republic of Yemen</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn Islands</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="RE">Réunion</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="CS">Serbia and Montenegro</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="KR">South Korea</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="ST">São Tomé and Príncipe</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TA">Tristan da Cunha</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UM">U.S. Minor Outlying Islands</option>
                                <option value="PU">U.S. Miscellaneous Pacific Islands</option>
                                <option value="VI">U.S. Virgin Islands</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US" selected="selected">United States</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican City</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="WK">Wake Island</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                                <option value="AX">Åland Islands</option>
                                </select>
                            </div>
                            
                            <p class="clear"></p>
                            <div class="row">
                                <div class="settings_zip">
                                <label for="" class="settings_label">Zip/Postal Code</label>
                                <input data-recurly="postal_code" maxlength="10" name="zip" type="text" class="settings_input" value="">
                                </div>
                            </div>
                            <p class="clear"></p>
<!--
                            <div class="settings_row inline_block text_left">
                                <input type="button" class="btn btn-sm btn-primary inline_ele  animation-blue" value="Update">
                                <a href="javascript:void(0)" class="btn_link margin_left_b inline_ele settings_cancel_edit font16">Cancel</a>
                            </div>
                                
-->
                                
                            <div class="buttonholder">
                                <div data-settings="" class="btn update_billing_info_btn">Update</div>
                                <a href="javascript:void(0)" class="btn_link settings_cancel_edit margin_left_b">Cancel</a>
                            </div>
                                
                            <input type="hidden" data-recurly="token" name="recurly-token">
                            </form>
                        </div>
                    </div> 
                    
                </div>
                        <div class="col_3">
                            <h2 class="position_relative">
                            Subscription
                            <a href="javascript:void(0)" class="btn_link submitCancel Cancel_Reactivate display_none">Cancel subscription</a>
                            <a href="javascript:void(0)" class="btn_link submitReactivate Cancel_Reactivate display_none">Reactivate</a>
                            </h2>
                            <span class="color_gray_9 font16">Big Picture Premium</span>
                            
                            <br>
                            <br>
                            <div class="sub_wrap">
                                <table class="settings_bill_info settings_plan_info">
                                	<tbody>
                                		<tr>
                                           <th>Status</th>
                                			<td data-settings="state" ></td>
                                		</tr>
                                        <tr>
                                           <th>Start Date</th>
                                			<td data-settings="start-date"></td> 
                                		</tr>
                                        <tr>
                                           <th>End Date</th>
                                			<td data-settings="end-date"></td> 
                                		</tr>
                                        <!--
                                        <tr>
                                           <th>Total Cost</th>
                                			<td data-settings="cost"></td>
                                		</tr>
                                        -->
                                	</tbody>
                                </table>
                            </div> 
                            <!--cancel subscription alert-->
                            <div class="settings_warning position_relative display_none" data-settings="cancel_container">
                            <p>
                                
                            </p>
                                
                                <div class="buttonholder">
                                        <div data-settings="subscription_cancel" class="btn subscription_cancel_btn">Cancel subscription</div>
                                        <a  href="javascript:void(0)" data-settings="submitCancelSubscription margin_left_b" class="btn_link notNow margin_left_b">Not now</a>
                                    </div>
                                
<!--
                            <input type="submit" class="btn" data-settings="subscription_cancel" value="Cancel subscription">
                            <a href="javascript:void(0)" class="btn_link notNow" data-settings="submitCancelSubscription">Not now</a>
-->
                            </div>
                            
                            <!--reactivate subscription alert-->
                            <div class="settings_warning position_relative display_none" data-settings="reactivate_container">
                            <p>
                                
                            </p>
                            <input type="submit" class="btn btn-sm btn-primary margin_right_a animation-blue reactivate_subs_btn" data-settings="subscription_reactivate" value="Reactivate subscription">
                            <a href="javascript:void(0)" class="btn_link notNow" data-settings="submitReactivateSubscription font16 margin_left_b">Not now</a>
                            </div>
                            
                            <br>
                            <br>
                            <h3 class="color_gray_9 font16">Invoices</h3>
                            <br><br>
                            <div class="sub_wrap">
                                <table class="settings_invoices">
                                	<thead>
                                		<tr>
                                			<th>Number</th>
                                			<th>Billed On</th>
                                			<th>Status</th>
                                			<th>Total</th>
                                			<th>Download</th>
                                		</tr>
                                	</thead>
                                    <tbody>
                                    	<tr>
                                    		<td data-settings="billing_number"></td>
                                    		<td data-settings="billed_on"></td>
                                    		<td data-settings="invoice_status"></td>
                                    		<td data-settings="invoice_total"></td>
                                    		<td><a href="javascript:void(0)" class="btn_link invoice_pdf">PDF</a></td>
                                    	</tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <br><br>
                            <div class="row">
                                <p>To receive copies of previous invoices, please contact us at info@bigpicapp.co</p>
                            </div>
                            
                        </div>
                        
                    </div>
                   <div class="historicalInfo color_gray_7">
    </div> 
              
    

