        <div class='poptitle'>
        	
        	<h1>{{MORE_INPUT_TITLE}}</h1>
 		 			
 		</div><!-- end .poptitle -->
            
        <div class='ratiosections'>
			<div class='ratiosection total_expense_ratio'>
		
				<h2>{{TER_TITLE}}</h2>
					
                <div class='inline'><label><input type=radio name=ratio value='.5'> <span>0.5%</span></label></div>
                <div class='inline'><label><input type=radio name=ratio value=1> <span>1.0%</span></label></div>
                <div class='inline'><label><input type=radio name=ratio value='1.5'> <span>1.5%</span></label></div>
                <div class='inline'><label><input type=radio name=ratio value=2> <span>2.0%</span></label></div>
                <div>
                    <label class='blocklabel other_ter_box'>
                        <input type=radio name=ratio value=0 class='other_ter_radio'>
                        {{OTHER}}: 
                        <input type=text class='smallinput other_ter' required> <span class=smnote style='font-size:12px !important;'>&nbsp;max. 3%</span>
                    </label>
                    
<!--
                    <label class='blocklabel other_ter_box'>
                        <input type=radio name=ratio value=other>
                        <span>{{OTHER}}:</span>
                        <span>
                            <input type="text" class="smallinput other_ter">
                        </span>
                    </label>
-->
                </div>
			
			</div><!-- end .ratiosection -->   

			<div class='ratiosection rebalancing-box'>
		
				<h2>{{REBALANCING_TITLE}}</h2>
                <div class='twocols'>
                    <div><label><input type=radio name=rebal value=0> <span>{{NONE}}</span></label></div>
                    <div><label><input type=radio name=rebal value=1> <span>{{ANNUAL}}</span></label></div>
                </div>
                <div class='twocols'>	
                    <div><label><input type=radio name=rebal value=3> <span>{{EVERY_3_YRS}}</span></label></div>
                    <div><label><input type=radio name=rebal value=5> <span>{{EVERY_5_YRS}}</span></label></div>
                </div>
			
			</div><!-- end .ratiosection --> 
			
		 </div><!-- end .sections -->
	
	
	 <div class='buttonholder'>
        	<br><div class="btn popperclose">{{DONE}}</div>
        </div>

