
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>
    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->
<table cellpadding="0" cellspacing="0" style="color:#555555;line-height:120%;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff;" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid; padding:15px; padding-bottom:0px" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width='100%' style='font-size:0px' align='center' height='1'><img  style='max-height:73px; margin-top:22px' width='192' height='35' alt='logo' src='http://www.bigpicapp.co/images/bigpicture_logo_mobile.png'></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->
                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"
                               style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;color:#555555">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <p style="font-size: 14px;color:#555555;">
                                      <strong>{{account_full_name}}</strong>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        
                        <table width="100%" cellpadding="10" cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <h1 style="font-size:20px;color:#555555">Activate your account.</h1>
                        
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="margin-bottom: 10px">
                                      <tr>
                                        <td width="320" id="message-body" align="left" valign="top" style="font-size:14px;color:#555555">
                                          <p style="">
                                            We received your request to create a Recurly account to manage your subscriptions for {{company_name}}.
                                            Please go to the link below to activate your account and create a password.
                                          </p>
                        
                                          <p style="">
                                            <a href="{{account_password_create_url}}">Activate Account</a>
                                          </p>
                        
                                          <p style="">
                                            If you do not wish to activate your account or did not make this request, please ignore this email.
                                          </p>
                                        </td>
                                      </tr>
                                    </table>
                        
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}