
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>
    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->
<table  cellspacing="0" style="color:#555555 !important;line-height:130% !important;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid;padding:15px;padding-bottom:0" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width="100%" style="font-size:0px" align="center" height="1"><img  style="max-height:73px; margin-top:22px" width="192" height="35" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->
                        <!-- account-info -->
            
                        <table cellpadding="0" id="account-info" cellspacing="0" style="padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
                        <tr>
                            <td valign="top" align="center">
                                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <p style="float: right;font-size: 14px; text-align:right; color:#555555;padding:0px;width:48%;margin:0"><strong>{{invoice_date}}</strong>
                                            </p>
                    
                                            <h2 style="font-size:16px; color:#555555;padding:0;margin:0;width:48%;">Invoice
                                                {{invoice_number}}</h2>
                    
                                            <p style="font-size: 14px;color:#555555;">
                                                <strong>{{billing_full_name}}</strong><br />
                                                {{{billing_full_address}}} </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                        <!-- /account-info -->
                    
                        <table  width="100%" cellspacing="0" style="color:#555555 !important;line-height:130% !important;">
                        <tr>
                            <td valign="top" align="center">
                                <table width="600" cellpadding="0" border="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <h1 style="font-size:20px;color:#555555">Your payment confirmation</h1>
                    
                                            <table width="100%" cellpadding="0" cellspacing="0"
                                                   style="margin-bottom: 10px">
                                                <tr>
                                                    <td width="320" id="message-body" align="left"
                                                        valign="middle" style="font-size:14px;color:#555555;">
                                                        <!-- message-body -->
                                                        <p style="">Thank you for your purchase!</p>
                                                        {{#subscription_has_trial?}}
                                                        <p style="">Your credit card will be billed
                                                            {{{subscription_total_amount}}}
                                                            (minus any pending discounts) when
                                                            your trial ends at
                                                            {{subscription_trial_ends_at}}.</p>
                                                        {{/subscription_has_trial?}}
                                                        {{^subscription_has_trial?}}
                                                        <p style="">Your subscription started on
                                                            {{subscription_current_period_started_at}} and is now active. If you purchased a Big Picture Premium subscription, it will renew automatically in one year. If you purchased a Day Pass, it will expire in 24 hours. 
                                                            </p>
                    
                                                        <p style="">Your credit card was billed
                                                            {{{invoice_total_paid}}}.</p>
                                                        {{/subscription_has_trial?}}
                                                        {{#company_hosted_account_management_enabled?}}
                                                        {{/company_hosted_account_management_enabled?}}
                                                        <!-- /message-body -->
                                                    </td>
                                                   
                                                </tr>
                                            </table>
                    
                                            <!-- invoice-table -->
                                            <table style="line-height:160%;color:#555555 !important;line-height:130% !important;" id="invoice-table" width="100%" 
                                                   cellspacing="0" >
                                                <!-- table headers -->
                                                <thead>
                                                <tr height="35px" >
                                                    <th align="left" style="font-size:14px;color:#555555;border-bottom: 1px solid #f3f3f3;"><strong style=""></strong>
                                                    </th>
                                                    <th align="left" style="font-size:14px;color:#555555;border-bottom: 1px solid #f3f3f3;"><strong style=""></strong>
                                                    </th>
                                                    <th align="right" width="20"
                                                        style="font-size:14px;color:#555555;border-bottom: 1px solid #f3f3f3;">
                                                        <strong style="">Amount</strong></th>
                                                </tr>
                                                </thead>
                                                <!-- table footer -->
                                                <tfoot>
                                                <tr>
                                                    <td align="right" colspan="2"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555">
                                                        <strong style="">Subtotal:</strong></td>
                                                    <td align="right" width="20" style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555;">
                                                        <strong style="white-space:nowrap;">{{{invoice_subtotal}}}</strong></td>
                                                </tr>
                                                {{#invoice_has_discount?}}
                                                <tr>
                                                    <td align="right" colspan="2"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555;">
                                                        <strong style="">Discount:</strong></td>
                                                    <td align="right" width="20"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555">
                                                        <strong style="white-space:nowrap;">{{{invoice_discount_amount}}}</strong>
                                                    </td>
                                                </tr>
                                                
                                                {{/invoice_has_discount?}}
                                                {{#invoice_has_tax?}}
                                                
                                                <tr>
                                                    <td align="right" colspan="2"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555">
                                                      <strong style="">
                                                        {{#invoice_has_vat?}}VAT:{{/invoice_has_vat?}}
                                                        {{^invoice_has_vat?}}
                                                            {{invoice_tax_region}} Tax {{invoice_tax_rate}}:
                                                        {{/invoice_has_vat?}}
                                                      </strong>
                                                    </td>
                                                    <td align="right" width="20"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555">
                                                        <strong style="white-space:nowrap;">{{{invoice_tax_amount}}}</strong>
                                                    </td>
                                                </tr>
                                                {{/invoice_has_tax?}}
                                                <tr style="border-bottom: 0px solid #f3f3f3;">
                                                    <td align="right" colspan="2"
                                                        style="border-bottom: 0px solid #f3f3f3;font-size:14px;color:#555555">
                                                        <strong>Total:</strong></td>
                                                    <td align="right" width="20"
                                                        style="border-bottom: 0px solid #f3f3f3;font-size:14px;color:#555555">
                                                        <strong style="white-space:nowrap;">{{{invoice_total_paid}}}</strong>
                                                    </td>
                                                </tr>
                                                
                                                </tfoot>
                                                <!-- table data -->
                                                <tbody>
                                                {{#invoice_line_items}}
                                                <!-- <tr>
                                                    <td align="left" valign="top"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555;">
                                                       
                                                    </td>
                                                    <td align="left" valign="top"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555;">
                                                        
                                                    </td>
                                                    <td align="right" valign="top" width="20"
                                                        style="border-bottom: 1px solid #f3f3f3;font-size:14px;color:#555555;">
                                                       <strong style="white-space:nowrap;">{{{line_amount}}}</strong>
                                                        </td>
                                                </tr>-->
                                                {{/invoice_line_items}}
                                                </tbody>
                                            </table>
                    
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}