{{> recurly_header_v2}}
<table cellpadding="0" cellspacing="0" style="color:#555555;line-height:130%;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid; padding:15px;" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width='100%' style='font-size:0px' align='center' height='1'><img style='max-height:73px; margin-top:22px' alt='logo' src='http://www.bigpicapp.co/images/bigpicture_logo_mobile.png'></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->
                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"
                               style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <p style="font-size: 14px;color:#555555;">
                                      <strong>{{account_full_name}}</strong>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <br>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td style="color:#555555">
                                    <h1 style="font-size:20px;">Your password reset request</h1>
                        
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="margin-bottom: 10px">
                                      <tr>
                                        <td width="320" id="message-body" align="left"
                                            valign="top" style="font-size:14px;">
                                          <p style="">We received your request to change your password from our billing system.
                                          </p>
                        
                                          <p style="">
                                          <a href="{{account_password_reset_url}}">Reset Password</a>
                                          </p>
                        
                                          <p style="">
                                          If you do not wish to reset your password or did not make this request, please ignore this email.
                                          </p>
                                        </td>
                                      </tr>
                                    </table>
                        
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}