<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>

    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->
<table cellpadding="0" cellspacing="0" style="color:#555555 !important;line-height:130% !important;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid; padding:15px;padding-bottom:0" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width='100%' style='font-size:0px' align='center' height='1'><img style='max-height:73px; margin-top:22px' alt='logo' src='http://www.bigpicapp.co/images/bigpicture_logo_mobile.png'></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->
                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="100%" cellpadding="0" border="0" cellspacing="0" style="color:#555 !important; line-height:130% !important">
                                <tr>
                                  <td>
                                    <p style="float: right;font-size: 14px;width:48%;margin:0; text-align:right"><strong style="">{{invoice_date}}</strong>
                                    </p>
                        
                                    <h2 style="font-size:16px;margin:0;width:48%;">Invoice
                                      {{invoice_number}}</h2>
                        
                                    <p style="font-size: 14px;">
                                    <strong style="">{{billing_full_name}}</strong><br />
                                    {{{billing_full_address}}} </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" cellspacing="0" style="color:#555 !important; line-height:130% !important">
                                <tr>
                                  <td>
                                    <h1 style="font-size:20px;">Payment Declined</h1>
                        
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                        style="margin-bottom: 10px">
                                      <tr>
                                        <td width="320" id="message-body" align="left"
                                            valign="middle" style="font-size:14px;">
                                          <p style="font-size:14px; color: red;">Your payment was declined.</p>
                                          <p style="">Your most recent payment of
                                          {{{invoice_total_due}}} was
                                          <b style="">declined</b>.
                                          {{#company_hosted_account_management_enabled?}}
                                            Please <a href="{{account_hosted_maintenance_url}}">
                                            update your billing information</a>.</p>
                        
                                          <p style="">
                                            <a href="{{invoice_guest_view_url}}">View your invoice online.</a>
                                          {{/company_hosted_account_management_enabled?}}
                                          </p>
                        
                                        </td>
                                        <td width="20">&nbsp;</td>
                                        <td width="260" align="right" valign="top" style="">
                                          {{#company_hosted_account_management_enabled?}}
                                          <div style="background: #FAFAFA;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;padding: 1.5em 20px;width:260px;margin: 1em 0;text-align:left;">
                                            <p class="nospace" style=""><a class="button"
                                              href="{{account_hosted_maintenance_url}}">Update
                                              Your Billing Info &rarr;</a></p>
                                          </div>
                                          {{/company_hosted_account_management_enabled?}}
                                        </td>
                                      </tr>
                                    </table>
                        
                                    <table style="color:#555 !important; line-height:130% !important" id="invoice-table" width="100%" cellpadding="4"
                                           cellspacing="0">
                                      <thead>
                                        <tr >
                                          <th align="left" style="font-size:14px;border-bottom: 1px solid #f3f3f3;"><strong>Date</strong>
                                          </th>
                                          <th align="left" style="font-size:14px;border-bottom: 1px solid #f3f3f3;"><strong>Description</strong>
                                          </th>
                                          <th align="right" width="20"
                                              style="font-size:14px;border-bottom: 1px solid #f3f3f3">
                                            <strong style="">Amount</strong></th>
                                        </tr>
                                      </thead>
                        
                                      <tfoot style="">
                                        <tr>
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Subtotal:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_subtotal}}}</strong></td>
                                        </tr>
                                        {{#invoice_has_tax?}}
                                        <tr>
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">
                                              {{#invoice_has_vat?}}VAT:{{/invoice_has_vat?}}
                                              {{^invoice_has_vat?}}
                                                {{invoice_tax_region}} Tax {{invoice_tax_rate}}:
                                              {{/invoice_has_vat?}}
                                            </strong>
                                          </td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_tax_amount}}}</strong>
                                          </td>
                                        </tr>
                                        {{/invoice_has_tax?}}
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Paid:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_total_paid}}}</strong>
                                          </td>
                                        </tr>
                                        <tr id="invoice-total"
                                            style="border-bottom: 1px solid #cccccc;">
                                          <td align="right" colspan="2"
                                              style="font-size:14px;">
                                            <strong style="">Total:</strong></td>
                                          <td align="right" width="20"
                                              style="font-size:14px;">
                                            <strong style="">{{{invoice_total_due}}}</strong>
                                          </td>
                                        </tr>
                                      </tfoot>
                                      <tbody style="">
                                        {{#invoice_line_items}}
                                        <tr>
                                          <td align="left" valign="top"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{{line_date}}}
                                          </td>
                                          <td align="left" valign="top"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{line_description}}
                                          </td>
                                          <td align="right" valign="top" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{line_amount}}}</strong></td>
                                        </tr>
                                        {{/invoice_line_items}}
                                      </tbody>
                                    </table>
                        
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}