<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>

    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->
<table cellpadding="0" cellspacing="0" style="color:#555555;line-height:120%;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid; padding:15px; padding-bottom:0px" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width='100%' style='font-size:0px' align='center' height='1'><img  style='max-height:73px; margin-top:22px' width='34' height='42' alt='logo' src='http://www.bigpicapp.co/images/bigpicture_logo_mobile.png'></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->
                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"
                               bgcolor="#fff"
                               style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">
                          <tr>
                            <td valign="top" align="center">
                              <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <p style="float: right;font-size:14px;text-align:left;">
                                    Billed on: <strong style="">{{invoice_date}}</strong>
                                    </p>
                        
                                    <h2 style="font-size:16px;text-align:left;">Invoice
                                      {{invoice_number}}</h2>
                        
                                    <p style="font-size:14px;text-align:left;">
                                    <strong style="">{{billing_full_name}}</strong><br />
                                    {{{billing_full_address}}} </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        
                        <table width="100%"  cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="600" cellpadding="0" border="0" >
                                <tr>
                                  <td>
                                    <h1 style="font-size:20px;text-align:left;">We received your payment</h1>
                        
                                    <table width="100%" cellspacing="0">
                                      <tr>
                                        <td width="320" id="message-body" align="left"
                                            valign="middle" style="font-size:14px;">
                                          <p style="">
                                          Thank you for your business.  Enclosed is an invoice receipt for your records.
                                          </p>
                                          <p style="">This email confirms your recent
                                          payment of {{{transaction_amount}}}.
                                          Here are the details of your payment:
                                          </p>
                                          {{#company_hosted_account_management_enabled?}}
                                          <p style="">
                                            <a href="{{invoice_guest_view_url}}">View your invoice online.</a>
                                          </p>
                                          {{/company_hosted_account_management_enabled?}}
                                        </td>
                                        <td width="20">&nbsp;</td>
                                        <td width="260" align="right" valign="top" style="">
                                          {{#subscription_active?}}
                                          <div style="background: #FAFAFA;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding: 1.5em 20px;width:260px;margin: 1em 0;text-align:left;">
                                            <p style="font-size:14px;">
                                            Your plan:<br />
                                            <strong style="">{{plan_name}}</strong>
                                            </p>
                        
                                            <p style="font-size:14px;">Next invoice
                                            date:<br /> <strong
                                              style="">{{subscription_next_payment_date}}</strong>
                                            </p>
                                          </div>
                                          {{/subscription_active?}}
                                        </td>
                                      </tr>
                                    </table>
                        
                                    <table id="invoice-table" width="100%" style="line-height:160%" cellspacing="0" >
                                      <thead>
                                        <tr height="35px">
                                          <th align="left" style="font-size:14px"><strong style="">Date</strong>
                                          </th>
                                          <th align="left" style="font-size:14px"><strong style="">Description</strong>
                                          </th>
                                          <th align="right" width="20"
                                              style="font-size:14px">
                                            <strong style="">Amount</strong></th>
                                        </tr>
                                      </thead>
                        
                                      <tbody style="">
                                        {{#invoice_line_items}}
                                        <tr>
                                          <td align="left" valign="top"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{{line_date}}}
                                          </td>
                                          <td align="left" valign="top"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{line_description}}
                                            {{^line_quantity_is_one?}}
                                            (x {{line_quantity}})
                                            {{/line_quantity_is_one?}}
                                          </td>
                                          <td align="right" valign="top" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{line_amount}}}</strong></td>
                                        </tr>
                                        {{/invoice_line_items}}
                                      </tbody>
                        
                                      <tfoot style="">
                                        <tr>
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Subtotal:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_subtotal}}}</strong></td>
                                        </tr>
                                        {{#invoice_has_discount?}}
                                        <tr>
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Discount:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_discount_amount}}}</strong>
                                          </td>
                                        </tr>
                                        {{/invoice_has_discount?}}
                                        {{#invoice_has_tax?}}
                                        <tr>
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">
                                              {{#invoice_has_vat?}}VAT:{{/invoice_has_vat?}}
                                              {{^invoice_has_vat?}}
                                                {{invoice_tax_region}} Tax {{invoice_tax_rate}}:
                                              {{/invoice_has_vat?}}
                                            </strong>
                                          </td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_tax_amount}}}</strong>
                                          </td>
                                        </tr>
                                        {{/invoice_has_tax?}}
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Total:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_total}}}</strong>
                                          </td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Paid:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_total_paid}}}</strong>
                                          </td>
                                        </tr>
                                        <tr id="invoice-total" style="border-bottom: 0px solid #cccccc;">
                                          <td align="right" colspan="2"
                                              style="border-bottom:0px solid #cccccc;font-size:14px;">
                                            <strong style="">Total due:</strong></td>
                                          <td align="right" width="20"
                                              style="border-bottom: 0px solid #cccccc;font-size:14px;">
                                            <strong style="">{{{invoice_total_due}}}</strong>
                                          </td>
                                        </tr>
                                      </tfoot>
                                    </table>
                        
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}