
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>
  
    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->
<table  cellspacing="0" style="color:#555555;line-height:130%;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
	<tbody>
		<tr>
			<td>
               <!--style border-->
                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid;padding:15px;padding-bottom:0px; width:600px" border="0" align="center">
                    <tbody>
                    <tr>
                        <td width="100%" style="font-size:0px" align="center" height="1"><img  style="max-height:73px; margin-top:22px" width="192" height="35" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>
                    </tr>
                    <tr>
                      <td height="40" style="height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                        <!--container-->

                        <!-- account-info -->
                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"
                          style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">
                          <tr>
                            <td valign="top" align="center">
                              <table width="100%" cellpadding="0" border="0" cellspacing="0" style="color:#555555;line-height:130%;">
                                <tr>
                                  <td style="color:#555555">
                                    <p style="float: right; font-size:14px; text-align:right;width:48%;margin:0;">
                                    Billed on: <strong>{{invoice_date}}</strong>
                                    <br />Due on: <strong>{{invoice_due_at}}</strong>
                                    {{#invoice_po_number}}
                                    <br />PO Number: <strong>{{invoice_po_number}}</strong>
                                    {{/invoice_po_number}}
                                    {{#invoice_net_terms}}
                                    <br />Terms: <strong>Net-{{invoice_net_terms}}</strong>
                                    {{/invoice_net_terms}}
                                    </p>
                        
                                    <h2 style="font-size:16px;text-align:left;width:48%;margin:0;">Invoice
                                      {{invoice_number}}</h2>
                        
                                    <p style="font-size: 14px;text-align:left">
                                    <strong>{{billing_full_name}}</strong><br />
                                    {{{billing_full_address}}} </p>
                                  </td>
                                </tr>
                              </table>
                              <br>
                            </td>
                          </tr>
                        </table>
                        <!-- /account-info -->
                        
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" align="center">
                              <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                <tr>
                                  <td style="color:#555555">
                                    <h1 style="font-size:20px;text-align:left">You have a new invoice</h1>
                        
                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="color:#555555 !important;line-height:130% !important;margin-bottom: 10px">
                                      <tr>
                                        <td width="320" id="message-body" align="left"
                                          valign="middle" style="font-size:14px;">
                                          <!-- message-body -->
                                          <p style="">You have a new invoice from {{company_name}},
                                          due on {{invoice_due_at}}.
                                          </p>
                                          <p style="">
                                          Please contact {{company_name}} at
                                          {{company_email}} to make payment arrangements.
                                          </p>
                                          {{#company_hosted_account_management_enabled?}}
                                          <p style="">
                                            {{#company_hosted_account_management_allow_pay_invoice?}}
                                            <a href="{{invoice_guest_view_url}}">Pay your invoice online.</a>
                                            {{/company_hosted_account_management_allow_pay_invoice?}}
                                            {{^company_hosted_account_management_allow_pay_invoice?}}
                                            <a href="{{invoice_guest_view_url}}">View your invoice online.</a>
                                            {{/company_hosted_account_management_allow_pay_invoice?}}
                                          </p>
                                          {{/company_hosted_account_management_enabled?}}
                        
                                          <!-- /message-body -->
                                        </td>
                                        <td width="20">&nbsp;</td>
                                        <td width="260" align="right" valign="top" style="">
                                          {{#subscription_active?}}
                                          <!-- message-details -->
                                          <div style="background: #FAFAFA;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding: 1.5em 20px;width:260px;margin: 1em 0;text-align:left;">
                                            <p style="font-size:14px;">
                                            Total due:<br />
                                            <strong style="font-size:14px;">{{{invoice_total_due}}}</strong>
                                            </p>
                        
                                            <p style="font-size:14px;">
                                            Due on:<br />
                                            <strong style="font-size:14px;">{{invoice_due_at}}</strong>
                                            </p>
                                          </div>
                                          <!-- /message-details -->
                                          {{/subscription_active?}}
                                        </td>
                                      </tr>
                                    </table>
                        
                                    <!-- invoice-table -->
                                    <table id="invoice-table" width="100%" cellpadding="4"
                                      cellspacing="0" style="color:#555555 !important;line-height:130% !important;">
                                      <!-- table headers -->
                                      <thead>
                                        <tr style="color:#555555">
                                          <th align="left" style="font-size:14px;border-bottom: 1px solid #f3f3f3;" ><strong style="">Date</strong>
                                          </th>
                                          <th align="left" style="font-size:14px;border-bottom: 1px solid #f3f3f3"><strong style="">Description</strong>
                                          </th>
                                          <th align="right" width="20"
                                            style="font-size:14px;border-bottom: 1px solid #f3f3f3">
                                            <strong style="">Amount</strong></th>
                                        </tr>
                                      </thead>
                                      <!-- table data -->
                                      <tbody style="">
                                        {{#invoice_line_items}}
                                        <tr style="color:#555555">
                                          <td align="left" valign="top"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{{line_date}}}
                                          </td>
                                          <td align="left" valign="top"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            {{line_description}}
                                            {{^line_quantity_is_one?}}
                                            (x {{line_quantity}})
                                            {{/line_quantity_is_one?}}
                                          </td>
                                          <td align="right" valign="top" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{line_amount}}}</strong></td>
                                        </tr>
                                        {{/invoice_line_items}}
                                      </tbody>
                                      <!-- table footer -->
                                      <tfoot style="">
                                        <tr>
                                          <td align="right" colspan="2"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Subtotal:</strong></td>
                                          <td align="right" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_subtotal}}}</strong></td>
                                        </tr>
                                        {{#invoice_has_discount?}}
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Discount:</strong></td>
                                          <td align="right" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_discount_amount}}}</strong>
                                          </td>
                                        </tr>
                                        {{/invoice_has_discount?}}
                                        {{#invoice_has_tax?}}
                                        <tr>
                                          <td align="right" colspan="2"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">
                                              {{#invoice_has_vat?}}VAT:{{/invoice_has_vat?}}
                                              {{^invoice_has_vat?}}
                                                {{invoice_tax_region}} Tax {{invoice_tax_rate}}:
                                              {{/invoice_has_vat?}}
                                            </strong>
                                          </td>
                                          <td align="right" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_tax_amount}}}</strong>
                                          </td>
                                        </tr>
                                        {{/invoice_has_tax?}}
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Total:</strong></td>
                                          <td align="right" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_total}}}</strong>
                                          </td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #f3f3f3;">
                                          <td align="right" colspan="2"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">Paid:</strong></td>
                                          <td align="right" width="20"
                                            style="border-bottom: 1px solid #f3f3f3;font-size:14px;">
                                            <strong style="">{{{invoice_total_paid}}}</strong>
                                          </td>
                                        </tr>
                                        <tr id="invoice-total" 
                                          style="border-bottom: 1px solid #cccccc;">
                                          <td align="right" colspan="2"
                                            style="border-bottom: 0px solid #cccccc;font-size:14px;">
                                            <strong style="">Total due:</strong></td>
                                          <td align="right" width="20"
                                            style="border-bottom: 0px solid #cccccc;font-size:14px;">
                                            <strong style="">{{{invoice_total_due}}}</strong>
                                          </td>
                                        </tr>
                                      </tfoot>
                                    </table>
                        
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>


                        <!--end container-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </td>
		</tr>
	</tbody>
</table>
{{> recurly_footer_v2}}