
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>

    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->

{{> recurly_header_v2}}

<table  cellspacing="0" style="color:#555555;line-height:130%;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">

	<tbody>

		<tr>

			<td>

               <!--style border-->

                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid;padding:15px;padding-bottom:0" border="0" align="center">

                    <tbody>

                    <tr>

                        <td width="100%" style="font-size:0px" align="center" height="1"><img  style="max-height:73px; margin-top:22px" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>

                    </tr>

                    <tr>

                      <td height="40" style="height:40px">&nbsp;</td>

                    </tr>

                    <tr>

                        <td>

                        <!--container-->

                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"

                               style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">

                          <tr>

                            <td valign="top" align="center">

                              <table width="600" cellpadding="0" border="0" cellspacing="0">

                                <tr>

                                  <td>

                                    <p style="font-size: 14px;color:#555;">

                                      <strong>{{billing_full_name}}</strong><br />

                                      {{{billing_full_address}}} </p>

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <table width="100%" cellpadding="10" cellspacing="0" style="line-height:130%">

                          <tr>

                            <td valign="top" align="center">

                              <table width="600" cellpadding="0" border="0" cellspacing="0">

                                <tr>

                                  <td style="">

                                    <h1 style="font-size:20px;color:#555;font-size:26px;">Your subscription has expired</h1>

                                    <p style="font-size:14px;">

                                    We're sorry to see you go, but we thank you for giving us a try.

                                    This email confirms that your Big Picture Premium subscription is now expired.

                                    </p>

                        

                                    <p style="font-size:14px;">

                                    Please keep this email for your records. If you have

                                    any questions, please contact <a href="mailto:info@investmentsillustrated.com">info@investmentsillustrated.com</a>.

                                    <br/>

                                    Thank you for your purchase!

                                    <br>

                                    <br>

                                    </p>

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <!--end container-->

                        </td>

                    </tr>

                    </tbody>

                </table> 

            </td>

		</tr>

	</tbody>

</table>

{{> recurly_footer_v2}}

{{> recurly_footer_v2}}