<!doctype html>

<html>

<head>

<meta charset='UTF-8'>

<title>Untitled Document</title>

</head>



<body> 



{{> recurly_header_v2}}

<table  cellspacing="0" style="color:#555555 !important;line-height:130% !important;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">

	<tbody>

		<tr>

			<td>

               <!--style border-->

                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid;padding:15px;" border="0" align="center">

                    <tbody>

                    <tr>

                        <td width="100%" style="font-size:0px" align="center" height="1"><img  style="max-height:73px; margin-top:22px" width="192" height="35" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>

                    </tr>

                    <tr>

                      <td height="40" style="height:40px">&nbsp;</td>

                    </tr>

                    <tr>

                        <td>

                        <!--container-->

                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"

                               style="border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">

                          <tr>

                            <td valign="top" align="center">

                              <table width="100%" cellpadding="0" border="0" cellspacing="0" style="color:#555555 !important;line-height:130% !important;">

                                <tr>

                                  <td>

                                    <p style="font-size: 14px;color:#555555">

                                      <strong>{{billing_full_name}}</strong><br />

                                      {{{billing_full_address}}} </p>

                                  </td>

                                </tr>

                              </table>

                              <br>

                            </td>

                          </tr>

                        </table>

                        <table width="100%" cellpadding="0" cellspacing="0">

                          <tr>

                            <td valign="top" align="center">

                              <table width="600" cellpadding="0" border="0" cellspacing="0" style="color:#555555 !important; line-height:130% !important;margin-bottom:10px">

                                <tr>

                                  <td style="color:#555555">

                                    <h1 style="font-size:20px;">We can't seem to process your credit card</h1>

                        

                                    <p style="font-size:14px">

                                    We are having trouble processing your payment using the {{billing_cc_type}} ending in {{billing_last_four}}.

                                    {{#company_hosted_account_management_enabled?}}

                                    To correct your card details or pay with another card, please update <a href="{{account_hosted_maintenance_url}}">your account</a>.

                                    {{/company_hosted_account_management_enabled?}}

                                    </p>

                        

                                    <p style="font-size:14px;">

                                    Until we are able to resolve this issue, your subscription is canceled due to non-payment.

                                    We hope this is just a mixup and look forward to resolving this with you quickly.

                                    If you have any questions, don't hesitate to contact us at <a href="mailto:{{company_email}}">{{company_email}}</a> regarding invoice {{invoice_number}}.

                                    </p>

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <!--end container-->

                        </td>

                    </tr>

                    </tbody>

                </table> 

            </td>

		</tr>

	</tbody>

</table>

{{> recurly_footer_v2}}







</body>

</html>

