
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{company_name}}</title>
    </head>
    <body>
        <!-- center -->
        <table width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <!-- header -->
                    <table width="600" cellpadding="0" cellspacing="0" id="headerTable">
                        <tr>
                            <td>
                                <h1 style="font-size:26px;">
                                    <a href="{{company_url}}" title="{{company_name}}"
                                       style="text-decoration:none;color:#555555;">{{company_name}}</a>
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <!-- /header -->
                </td>
            </tr>
        </table>
<!-- /center -->

<table  cellspacing="0" style="color:#555555 !important;line-height:130% !important;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff;" border="0">

	<tbody>

		<tr>

			<td>

               <!--style border-->

                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid;padding:15px;padding-bottom:0" border="0" align="center">

                    <tbody>

                    <tr>

                        <td width="100%" style="font-size:0px" align="center" height="1"><img  style="max-height:73px; margin-top:22px" width="192" height="35" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>

                    </tr>

                    <tr>

                      <td height="40" style="height:40px">&nbsp;</td>

                    </tr>

                    <tr>

                        <td>

                        <!--container-->

                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0"

                               style="line-height:130%;border-top: 0px solid #CCCCCC;border-bottom: 0px solid #CCCCCC;">

                          <tr>

                            <td valign="top" align="center">

                              <table width="100%" cellpadding="0" border="0" cellspacing="0">

                                <tr>

                                  <td>

                                    <p style="font-size: 14px;color:#555;Open Sans, sans-serif,helvetica, arial;">

                                      <strong style="">{{billing_full_name}}</strong><br />

                                      {{{billing_full_address}}} </p>

                                  </td>

                                </tr>

                              </table>

                              <br>

                            </td>

                          </tr>

                        </table>

                        <table width="100%" cellpadding="0" cellspacing="0">

                          <tr>

                            <td valign="top" align="center">

                              <table width="600" cellpadding="0" border="0" cellspacing="0">

                                <tr>

                                  <td>

                                    <h1 style="font-size:20px;color:#555;">We're sorry to see you go</h1>

                        

                                    <table width="100%" cellpadding="0" cellspacing="0"

                                           style="margin-bottom: 10px;color:#555555 !important;line-height:130% !important">

                                      <tr>

                                        <td width="320" id="message-body" align="left"

                                            valign="middle" style="font-size:14px;">

                                            <p style="">

                                            Thanks for giving us a try.

                                            This email confirms that your subscription has been canceled.

                                            You will continue to enjoy full access to the app for the duration of your paid subscription period. Your subscription will remain active until {{subscription_expires_at}}.

                                            {{#company_hosted_account_management_full_access?}}
                                            </p>
                                            <p>
                                           
                                            {{/company_hosted_account_management_full_access?}}

                                            </p>
                                            <p style="">
                                                If you have any questions, check out our <a href="http://www.bigpicapp.co/help/index.html" target="_blank">Help Center</a>, or <a href="http://www.bigpicapp.co/contact-us.html" target="_blank">Contact Us</a>. 
                                            </p>
                                            <p style="">
                                               All the best, 
                                            </p>
                                            <p style="">    
                                               The Big Picture Team

                                            </p>

                                        </td>

                                        <td width="20">&nbsp;</td>

                                        <td width="260" align="right" valign="top" style="">

                                          <div style="background-color: #FAFAFA;color:#555;border-radius: 2px;-moz-border-radius:2px;-webkit-border-radius: 2px;padding: 1.5em 20px;width:260px;margin: 1em 0;text-align:left;">

                                              <p style="font-size:14px;">Your

                                                  plan:<br /> <strong

                                                          style="font-size:14px">{{plan_name}}

                                                      ({{{subscription_subtotal_amount}}})</strong>

                                              </p>

                                              {{#subscription_active?}}

                                              <p style="font-size:14px;">Expires

                                                  at:<br /> <strong style="font-size:14px;">{{subscription_expires_at}}</strong>

                                              </p>

                                              {{/subscription_active?}}

                        

                                              {{#company_hosted_account_management_full_access?}}


                                              {{/company_hosted_account_management_full_access?}}

                                          </div>

                                        </td>

                                      </tr>

                                      <tr>

                                        <td colspan="3">

                                          <p style="font-size:14px;">

                                          <br>

                                          <br>

                                          </p>

                                        </td>

                                      </tr>

                                    </table>

                        

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <!--end container-->

                        </td>

                    </tr>

                    </tbody>

                </table> 

            </td>

		</tr>

	</tbody>

</table>

{{> recurly_footer_v2}}