<!doctype html>

<html>

<head>

<meta charset='UTF-8'>

<title>Untitled Document</title>

</head>



<body> 







{{> recurly_header_v2}}

<table cellpadding="0" cellspacing="0" style="color:#555555 !important;line-height:130% !important;padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">

	<tbody>

		<tr>

			<td>

               <!--style border-->

                <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid; padding:15px;" border="0" align="center">

                    <tbody>

                    <tr>

                        <td width="100%" style"font-size:0px" align="center"><img style="max-height:73px; margin-top:22px" alt="logo" src="http://www.bigpicapp.co/images/bigpicture_logo_mobile.png"></td>

                    </tr>

                    <tr>

                      <td height="40" style="height:40px">&nbsp;</td>

                    </tr>

                    <tr>

                        <td>

                        <!--container-->



                        <!-- account-info -->

                        <table id="account-info" width="100%" cellpadding="0" cellspacing="0">

                          <tr>

                            <td valign="top" align="center">

                              <table style="color:#555555 !important; line-height:130% !important" width="600" cellpadding="0" border="0" cellspacing="0">

                                <tr>

                                  <td>

                                    <p style="font-size: 14px;">

                                    <strong>{{billing_full_name}}</strong><br />

                                    {{{billing_full_address}}} </p>

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <br><br>

                        <!-- /account-info -->

                        <table width="100%" cellpadding="0" cellspacing="0">

                          <tr>

                            <td valign="top" align="center">

                              <table width="600" cellpadding="0" border="0" cellspacing="0" style="color:#555555;margin-bottom:15px">

                                <tr>

                                  <td>

                                    <h1 style="font-size:20px;">Your free trial of {{plan_name}} is expiring soon!</h1>

                        

                                    <!-- message-body -->

                                    <p style="font-size:14px">

                                    We hope you've enjoyed your free trial of {{plan_name}}!

                                    This is just a friendly reminder that your trial is

                                    scheduled to convert to a paying subscription on

                                    {{subscription_trial_ends_at}}.

                                    </p>

                        

                                    {{#company_hosted_account_management_full_access?}}

                                    <p style="font-size:14px">

                                    You may manage your subscription via

                                    <a href="{{account_hosted_maintenance_url}}">your account</a>. If you have any

                                    questions, please contact <a href="mailto:{{company_email}}">{{company_email}}</a>.

                                    </p>

                        

                                    {{/company_hosted_account_management_full_access?}}

                                    <!-- /message-body -->

                                  </td>

                                </tr>

                              </table>

                            </td>

                          </tr>

                        </table>

                        <!--end container-->

                        </td>

                    </tr>

                    </tbody>

                </table> 

            </td>

		</tr>

	</tbody>

</table>

{{> recurly_footer_v2}}







</body>

</html>

