<form novalidate>
		
		<div class=fieldset style="display:none   ">
			<div class=legend></div>
            <div class='modality'>
                <label><input type=radio name=mode value=retirement checked> <span></span></label>
            </div>        
		</div>

		<!-- MODES this lets us show and hide everything on mode switch
		**********************************
		 -->
		<div class='modes'>
 
			<div class='onemode mode_retirement is_active'>
			<!-- these are the fields shown for 'retirment' mode
			//////////////////////// -->
				<div class=fieldset>
					<div class='legend investment-horizon-label'></div>
					<label><input type=radio name=yrs value=10> <span>10</span></label>
					<label><input type=radio name=yrs value=20> <span>20</span></label>
					<label><input type=radio name=yrs value=30> <span>30</span></label>
					<label><input type=radio name=yrs value=40> <span>40</span></label>
						
				</div>
		
		
				<div class=fieldset>
					<!-- use "inline" to make a title (legend) and field be on the same line -->  
					<div class='legend inline initial-capital-label'>{{INITIAL_CAPITAL}}:</div>
					<span class="inline">
                        <input type="text" name='initcap' class='largeinput initial_capital' required value='{{getInitialCapital}}'>
                    </span>
					<!-- mediuminput and smallinput help with form styling -->
				</div>
		
				<div class='fieldset contribution-box'>
					<div class='legend inline contribution-label'></div>

					<label class='blocklabel spendrate'>
                        <input type=text id=rate  class='smallinput contribution_amount' required>
                        &nbsp;<span class='amount-in-dollars'></span><span class='mo-label'>&nbsp;/&nbsp;mo.</span>
                    </label>
					<label class='blocklabel' style="display:none"><input type=checkbox name=inflationadjusted value=y> <span class=inflationadjlabel></span></label>
				</div>
		
		
				<div class=fieldset  style="display:none">
					<div class='legend inline saving-goal-label'></div>
					<span class="inline">
                        <input type="text" value="{{getSavingsGoal}}"  
                               name='legacycap' class='largeinput savings_goal' required></span>
				</div>
		
			</div>
			<!-- ////////////////////////
			end .mode_retirement -->
	
			<div class='fieldset portfolio-box' style="display:none">
				<div class=legend>{{PORTFOLIO}}:</div>
				<div class='popper align-right' data-pop='portfoliowrapper'>{{EDIT}}</div>
				<div class='twocol portfolio-box-list'>
                    {{#each PORTFOLIO_LIST}}
					   <label>
                           <input type=radio name=port_div value="{{@index}}">&nbsp;
                           <span>{{{getPortfolioName this}}}</span>
                        </label>
                    {{/each}} 
				</div>
			</div>
		
			<div class='popper align-center' data-pop='ratiowarpper' data-noclose='noclose'  style="display:none">{{MORE}}</div>
		
		</div>
		<!-- 
		**********************************
		end MODES -->
		
		
		</form>