  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


  body {
/*    background: #f5f8fa; */
    font-family: 'Roboto', sans-serif;

  }
 svg {
  height:428px!important; 
}
/*x-text.graph_text5 {
    margin-top: 16px;
}*/
#medianText{
  fill : #0277bd;
}
div#add_withdrawal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            margin-top: 20px;
}
.blue-bar {
    background: #0277bd;
    height: 6px;
    width: 67px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 12px;
}
.line {
    border-bottom: 2px solid #ccc;
    height: 38px;
}
.text-panell
{
  border: 2px solid #ddd !important;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    background: #fff;
      margin-top: 30px;
}
.text-panell h3 {
    font-weight: normal;
    font-size: 26px !IMPORTANT;
    padding: 0 !IMPORTANT;
    color: #61616a;
    margin-top: 0px !important
}
  .axis {
  /*font: 50px!important;*/
  font-family: 'Roboto', sans-serif;
  color: #333;
}
 .lightText, .smallerText {
    font-size: 17px;
    /*color: #333;*/
    font-weight: lighter;
  }
  #bestDate, #medianDate, #worstDate {
    font-size: 20px;
    /*color: #333;*/
    font-weight: lighter;
  }

 #portfolioLabels {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 15px!important;
}
.axis path,
.axis line {
  fill: none;
  stroke: #616161;
  /*stroke: #333;*/
  shape-rendering: crispEdges;
  /*stroke-width: 2px;*/
 /* //fill:#333;
  // stroke: #fff; */
  stroke-width: 1px;
}

 
#graphSvg_retire7,  #graphSvg_saving5{
  height: 450px!important;
}
g.y.axis, g.x.axis, g#y2Axis {font-weight: 100!important;font-size: 19px!important;}
  .main_wrap {
      background: #ffffff;
      display: block;
      margin: 0px auto;
      width: 27cm;
  }
  .table_panel.other_table_panel {
    max-width: 667px;
}
  .table_panel.other_table_panel  span.right_text {
    float: left;
}
.white_global_panel.align_check {
    margin-bottom: 30px;
}
.text_div0 .x-text {
    font-size: 19px !IMPORTANT;
    }
  #graphSvg_retire0 , #graphSvg_saving0{
    height: 290px!important;
  }
 .margin_top {
    margin-top: 60px !IMPORTANT;
}

  .page_layout
  {
    display: block;
      margin: 0 auto;
      margin-top: 55px;
      margin-bottom: 0.5cm;
      position: relative;
    }
  h1.orange {
      font-weight: 500;
      color: #fb8c00;
      font-size: 30px;
      margin: 0;
  }

  .withdraw_panel {
    border-radius: 6px;
    background-color: rgb(245, 248, 250);
      -webkit-box-shadow: 3px 0 10px rgba(0, 0, 0, 0.14);
              box-shadow: 3px 0 10px rgba(0, 0, 0, 0.14);
      padding: 20px;
  }

  .withdraw_panel ul
  {
    list-style: none;
    padding-left: 0px;
  }
  .withdraw_panel ul li {
    font-size: 20px;
    line-height: 32px;
    color: #616161;
    font-weight: 300;
  }
  .description_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  .logo img {
      width: 100%;
  }
  .logo {
      max-width: 259px;
  }
  .white_global_panel {
      border-radius: 6px;
      background-color: #fff;
      padding: 30px 20px 40px 20px;
      position: relative;
      margin-top: 20px;
      border: 1px solid #ddd;
  }

  .white_global_panel h3 {
    font-size: 36px;
    color: rgb(97, 97, 97);
    margin: 0;
    font-weight: 300;
    padding:20px 0 0 0;
  }
 .inner_table {
      display: block;
    overflow: hidden;
}
  .inner_table ul {
      list-style: none;
      padding: 0;
      width: 80%;
  }
  .inner_table ul li {
      font-size: 20px;
      line-height: 32px;
      color: #616161;
      font-weight: 300;
      overflow: hidden;
  }
  li.t_head {
      font-weight: 500 !IMPORTANT;
  }
  .table-left-panel, .table-right-panel{
         float: left;
    width: 50%
  }
  span.right_text {
    float: right;
}
span.left_text {
    float: left;
    width: 60%;
}
  .white_global_panel h4 {
      font-size: 24px;
      color: rgb(97, 97, 97);
      border-bottom: 2px solid #fb8c00;
      display: inline-block;
      margin-bottom: 5px;
  }
  .table-full-panel {
      width: 100%;
  }
  .table-full-panel ul {
      width: 90%;
  }
  .table-full-panel span.left_text {
      font-weight: 300 !IMPORTANT;
  }
  .rightchart-text h5 {
      font-size: 16px;
      font-weight: 300;
      color: #333;
      line-height: 24px;
      margin:0;
      padding: 0;
  }
.rightchart-text {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    right: 0;
    width: 225px;
    text-align: left;
    float: right;
}
  .chart-img {
      margin-top: 40px;
  }
  p {
      font-size: 20px;
      color: #616161;
      margin: 0;
      line-height: 32px;
  }
  img
  {
    max-width: 100%;
  }
  .chart-block p
  {
    max-width: 80%;
    margin: 0 auto;

  }
  .chart-block.text-center {
      text-align: center;
      
  }
  .chart-block.text-center {
      padding-bottom: 80px;
  }
  footer {
      text-align: center;
      padding: 20px 0 0 0;
      color: #888;
      font-size: 16px;
  }
  .desclaimer-block p {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 10px;
  }
  .desclaimer-block h5 {
      font-size: 20px;
      color: #616161;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  /* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

h1.graph_title {
    font-weight: 500;
    color: #fb8c00;
    font-size: 36px;
    margin: 0;
}
.large-heading {
    font-size: 45px!important;
}
p.graphSubTitle {
    font-weight: normal;
}


.heavy
{
  font-weight:bold;
}
/*h1.graph_title {
    font-size: 20px;
    color: #616161;
    margin: 0;
    line-height: 28px;
    font-weight: lighter!important;
}*/

.chartspace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
}

.x-text {
    font-size: 22px !IMPORTANT;
    color: #333;
    max-width: 80%;
    margin: 0 auto;
    font-weight: normal;  
    margin-top: 30px!important;
}
.x-text span {
    color: #616161 !IMPORTANT;
    font-size: 26px !IMPORTANT;
    font-weight: bold;
}
#first_graph {
    font-weight: bold;
    color: #666 !IMPORTANT;
}
text#bestDate {
    position: relative;
    left: -50px !important;
}
.tick .smallerText tspan{
    display: inline-block !important;
    white-space: nowrap;
}
@media print {
  .page_break {page-break-after: always;}
}
  @media print {
    body, page {
      margin: 0;
      -webkit-box-shadow: 0;
              box-shadow: 0;
    }
  }