
/* reset a lot of stuff so browsers don't bump our styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset */
 
 
/* make it easier for us to specify sizes */
*, *:before, *:after {
  box-sizing: border-box;
}
 
 
/* full height at least */
body{
    min-height: 100vh;
    background-color: #f5f8fa;
}
 
a
{
    text-decoration: none;
    color: #197254;
}
 
.center
{
    text-align: center;
}
 
 
/* TOP NAV stuff
-------------------------------
*/
 
 
 
 
.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
    position: relative;
}
 
.header .nav {
    min-width: 960px;
    max-width: 1600px;
    width: 92%;
    /*width: 70%;*/
    margin: 0 auto;
    position: relative;
    height: 70px;
    font-size: 0;
    display: flex;
}
 
.nav a {
    text-decoration: none;
    color: #757575;
    text-decoration: none;
    padding: 0 25px;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 88px;
    vertical-align: top;
    font-size: 18px;
    border-bottom: 0px solid transparent;
    transition: border .15s;
}
 
.nav a.is_active {
    color: #000;
    border-bottom: 5px solid #197254;
    transition: border .15s;
}
 
 
 
.nav a:hover {
    color: #197254;
    border-bottom: 5px solid #197254;
    text-decoration: none;
}
 
 
.extranav {
    font-size: .8em;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 40px;
    position: relative;
}
 
.extranav a {
    margin-left: 25px;
    font-size: 15px;
    padding: 0 !important;
}
 
.extranav a:hover {
    color: #000;
    border-bottom: none;
}
 

.logowrap {
    flex-grow: 1;
}
 
.nav .logotitle {
    width: 230px;
    margin: 15px auto;
    text-align: center;
    display: block;
    position: relative;
    left: -14px;
    top: 4px;
}

.nav .logotitle2 {
    width: 151px;
    margin: 15px auto;
    text-align: center;
    display: block;
    position: relative;
    left: 24px;
    top: -11px;
 }
 
.main
{
    background-color: #fff;
    margin: 10px auto;
    border: 1px solid #e6ecf0;
    min-width: 960px;
	width: 92%;
    /*width: 70%;*/
    max-width: 1600px;
    display: flex;  
    position: relative;
    padding-bottom: 40px;
    z-index: 3;
    border-radius: 5px;
}
 
 
.main .print
{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 20px;
    height: 20px;
    //background-color: #e6ecf0;  
    cursor: pointer;
    z-index: 100;

}
 
.main .monthly_data_label
{
    position: absolute;
    top: 700px;
    right: 47px;
    width: 131px;
    height: 20px;
    color: #9e9e9e;
    z-index: 100;
    line-height: 1.2em;
    font-size: 14px;
}

.main .risk_label
{

    position: absolute;
    bottom: 44px;
    left: 396px;
    width: 127px;
    height: 42px;
    color: #9e9e9e;
    z-index: 100;
    line-height: 1.2em;
    font-size: 14px;
    display: none;

}

.main .widget
{
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 20px;
    height: 20px;
    border: 2px solid #e6ecf0;
    cursor: pointer;
    z-index: 100;
}
 
.main .help {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 40px;
    height: 40px;
    padding-top: 11px;
    z-index: 100;
}
 
.main .help:hover svg {
    fill: #197254;
}
 
/* 
SIDEBAR stuff
----------------------------
*/
.sidebar
{
    margin: 40px 10px 0px 25px;
    font-size: 13px;
    line-height: 15px;
    color: #757575;
    width: 290px;
    min-width: 290px;
    border-right: 1px solid #e6ecf0;
    padding-right: 25px;
}
 
.sidebar :checked + span {
    color: #000;
}

.sidebar .bitbig
{
	font-size: 16px;
} 
.sidebar .fieldset
{
    border-bottom: 1px solid #e6ecf0;
    padding: 12px 0 12px 12px;
    position: relative;
}
 
.sidebar .legend
{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 1em;
}

.smnote
{
	color: #757575;
	font-size: 12px !important;
	margin-left: 5px;
}
 
.sidebar .legend.inline {
    margin-bottom: 0;
}
 
.sidebar input[type="text"] {
    font-size: 15px;
}
 
 
.sidebar input[type="checkbox"] {
    margin-bottom: 0;
}

/*
label.spendrate
{
	margin-top: 1em;
}
*/
input#rate {
    margin-left: 0;
}
 
 
.align-right
{
    position: absolute;
    top: 1em;
    right: 0;
}
 
.align-center
{
    text-align: center;
    display: block;
    margin-top: 1em;
}
 
.sidebar a:hover{
    text-decoration: underline;
}
 
.onemode, .pageset
{
/*    display:none;*/
}
 
.onemode.is_active, .pageset.is_active
{
    display:block;
}
 
 
.sidebar label > input {
    /*vertical-align: top;*/
}
 
.inline input
{
    margin-left: 8px;
}
 
h2 + .inline input {
    margin-left: 0;
}
 
.sidebar input[type="radio"], .sidebar input[type="checkbox"], .onepop input[type="radio"], .onepop input[type="checkbox"] {
/*
    width: 19px;
    height: 19px;
    font-size: 19px;
    margin-right: 0;
    vertical-align: middle;
*/
    
       width: 19px;
    height: 19px;
    font-size: 19px;
    margin-right: 0;
    vertical-align: middle;
    margin-bottom: 3px;
    
}
 
.sidebar label span, .onepop label span {
    vertical-align: middle;
}
 
 
 
/*
PAGES stuff 
-------------------------------------------------
*/
 
.pages
{
    flex-grow: 1;
    position: relative;
    padding: 40px;
}
 
 
 
.pages .note
{
    font-size: 13px;
    text-align: center;
    color: #757575;
    margin: 20px;
}
 
.pages h1 {
    font-size: 24px;
    color: #F2A900;
    margin-bottom: .5em;
}
 
.pages p
{
    color: #666;
    font-size: 16px;
}
 
 
.chartspace {
    flex-grow: 1;
    padding-bottom: 30px; /* prevents chart from bumping nav */
  /*  padding-right: 120px;y-axis */
    height: 550px;
    position: relative;
}
 
 
.onepage {
    flex-direction: column;
    height: 100%;
    display: none;
}
 
 
.onepage.is_active
{
    display: flex;
}
 
 
.chartspace > .chart
{
    width: 100%;
    margin-top: 20px;
}


/* PDFS */

.pdftext h1, .pdftext h2
{
	text-align: center;
}

.pdftext h2
{
	font-size: 24px;
	color: #ccc;
}

.pdftext h1
{
	font-size: 32px;
}

.pdfs
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
	margin: 40px 0 0 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-height: 500px;
}

.pdfs div
{
	width: 33%;
}

.pdfs a
{
	font-size: 25px;
	display: flex;
	align-items: center;
	color: #666;
	margin-right: 10px;
}

.pdfs a:hover
{
	color: #000;
}

.pdfs svg
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.pdfs div:nth-of-type(n+1) svg
{
	fill: #E91E63;
}

.pdfs div:nth-of-type(n+2) svg
{
	fill: #9C27B0;
}

.pdfs div:nth-of-type(n+3) svg
{
	fill: #673AB7;
}

.pdfs div:nth-of-type(n+4) svg
{
	fill: #3F51B5;
}

.pdfs div:nth-of-type(n+5) svg
{
	fill: #2196F3;
}

.pdfs div:nth-of-type(n+6) svg
{
	fill: #009688;
}

.pdfs div:nth-of-type(n+7) svg
{
	fill: #EF6C00;
}

.pdfs div:nth-of-type(n+8) svg
{
	fill: #E64A19;
}

.pdfs div:nth-of-type(n+9) svg
{
	fill: #607D8B;
}

.pdfs div:nth-of-type(n+10) svg
{
	fill: #FFAB00;
}

.pdfs div:nth-of-type(n+11) svg
{
	fill: #263238;
}

.pdfs div:nth-of-type(n+12) svg
{
	fill: #BF360C;
}









/* PDFS */
 
 
 
/*
NAVIGATION stuff
-------------------------------------------------------
*/
 
 
.pagenavwrap
{
     display: flex;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left:0;
    right:0;
}
 
.graphnav,
.pagenav {
    margin: 0 auto;
    position: relative;
    left: -5px;
}
 
 
 
.prev, .next
{
    border: 1px solid #197254;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    line-height: 27px;
    display: inline-block;
    cursor: pointer;
}
 
.prev:hover, .next:hover
{
    background-color: #197254;
}
 
.prev svg {
    position: relative;
    left: -2px;
    top: 1px;
}
 
.next svg {
    position: relative;
    right: -2px;
    top: 1px;
}
 
.prev svg > *, .next svg > * {
    fill: #197254;
}
 
.prev:hover svg > *, .next:hover svg > * {
    fill: #fff;
}
 
 
.prev.disabled, .next.disabled, .prev.disabled:hover, .next.disabled:hover
{
    border: 1px solid #ccc;
    cursor: not-allowed;
    background-color: #fff;
}
 
.prev.disabled:hover svg > *, .next.disabled:hover svg > *,  .prev.disabled svg > *, .next.disabled svg > *{
    fill: #ccc;
}
 
.graph-dash,
.pnav {
    display: inline-block;
    color: #ccc;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-right: 3px;
    vertical-align: top;
}
.graph-dash + .pnav,
.prev + .pnav
{
    margin-left: 3px;
}
.graph-dash.is_active, .graph-dash:hover {
    color: #197254;
}
 
 
.pnav.is_active, .pnav:hover {
    color: #197254;
}
 
 
 
 
/* 
tweaks to specific inputs
-----------------------------
*/
 
/* make form elements pretty */
input[type="text"], input[type="number"] {
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 3px;
    background-color: #f5f5f5;
}
 
/* , input[type="text"]:valid */
input[type="text"]:focus {
    border-color: #197254;
    background-color: #fff;
}
 
 
input[type="text"]:invalid {
    box-shadow: none;
}
 
input.blockinput
{
    margin-left: 0;
}
 
.blocklabel
{
    display: table; /* https://css-tricks.com/injecting-line-break/ makes it inline (so lable click-area won't be a block) but breaks before */
    margin-top: 1.5em;
    margin-left: 0;
}


 
/* allow stuff to be on one line:
LEGEND: |______|
 */
.inline, .inline *
{
    display: inline-block;
    vertical-align: middle;
}
 
 
 
/* size inputs so they fit */
.smallinput
{
    width: 60px;
    margin-left: 8px;
}
.mediuminput
{
    width: 75px;
    margin-left: 8px;
}
.mediumlargeinput
{
    width: 94px;
    margin-left: 8px;
}

.largeinput
{
    width: 120px;
    margin-left: 8px;
} 
 
/* two columns */
.twocol label {
    display: inline-block;
    width: 49%;
    white-space: nowrap;
    margin-left: 0;
    margin-bottom: 1em;
}
 
 
 
 
 
 
 
input
{
    margin-left: 0;
}
 
 
label + label {
    margin-left: 15px;
}
 
 
 
 
/* popups 
-----------------------------
*/
 
.popper
{
    color: #197254;
    cursor: pointer;
}
 
.popper:hover
{
    text-decoration: underline;
}
 
 
.popup
{
    display:none;
}
 
/* Overlay Style */
#popupOverlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0,0,0, 0.7 );
    text-align: center;
    z-index: 500;
}
 
 
#popupOverlay .popclose {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #757575;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
}
 
 
#popupOverlay .popclose:hover {
    color: #fff;
    background-color: #757575;
}
 
#popupOverlay .popclose:hover path
{
    fill: #ffffff;
}
 
 
.onepop {
    width: 950px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px 60px;
    text-align: left;
    position: relative;
    border-radius: 4px;
}
 
.onepop.logoutwrap
{
    width: 420px;
}
 
.onepop p {
    line-height: 1.4em;
    margin-top: 1em;
}
 
.onepop h1 {
    font-size: 24px;
}
 
.onepop .message {
    color: #ffad1f;
    margin-bottom: 1em;
}
 
.onepop .sections {
    display: flex;
    margin-top: 40px;
}
 
.onepop .selectport {
    margin-right: 65px;
}
 
.onepop .portassets {
    flex: 2;
}
 
.onepop .twocols {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}
 
.onepop .twocols:first-of-type {
    margin-right: 55px;
}


.onepop .twocols.assets input[value='0%'] {
    color: #ccc;
}
 
.onepop .selectport input[type="radio"] {
    float: left;
    clear: both;
/*   margin-bottom: 16px;*/
        margin-top: 4px;

}
 
.onepop .selectport input[type="radio"] + input[type="text"] {
    float: left;
    margin-left: 10px;
    margin-bottom: 12px;
    width: 175px;
    border: 1px solid #ddd;
    color: #757575;
}
 
.onepop .selectport input[type="radio"]:checked + input[type="text"] {
    background-color: #fff;
    border: 1px solid #197254;
    color: #000;
}
 
.onepop h2 {
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}
 
.onepop h3 {
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}
 
 
/*  */
.onepop .twocols.assets > div, .onepop .twocols h3 {
    display: block;
    width: 100%;
    clear: both;
}
 
 
 
 
.onepop .twocols.assets span {
    font-size: 15px;
    color: #000;
    display: inline-block;
    margin-top: 5px;
}
 
.onepop .twocols.assets input {
    text-align: center;
     float: right;
    margin-bottom: 10px;
    width: 60px;
}
 
 
.onepop .portfolio-total-number {
    font-size: 26px;
    text-align: right;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 15px;
    width: 575px;
    float: right;
}
 
.onepop .buttonholder {
    position: relative;
    height: 45px;
    clear: both;
}
 
.onepop .btn {
    color: #197254;
    border: 1px solid #197254;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 1.2em;
}
 
.onepop .btn:hover{
    color: #fff;
    background-color: #197254;
}
 
.onepop .note
{
    font-size: 13px;
    text-align: center;
    color: #757575;
    margin-top: 10px;
}
 
 
.onepop .inline
{
    display: inline-block;
    margin: 0;
}
 
.ratiowarpper.onepop {
    max-width: 500px;
}
 
 
 
 
 
.onepop input {
    font-size: 15px;
}
 
 
.onepop .portfolio-total-number {
    font-size: 30px;
    width: 575px;
}
 
     
 
 
.ratiosection span {
    font-size: 1.2em !important;
}
 
 
 
 
 
 
 
.ratiosections {
    margin-top: 40px;
}
 
.ratiosections {
    margin-top: 40px;
    font-size: 13px;
    color: #757575;
}
 
.ratiosection > div {
    margin: 15px 0;
}
 
.ratiosection .inline span {
    margin-right: 15px;
}
 
 
 
.ratiosection {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 25px;
}
 
.ratiosection:first-of-type {
    border: navajowhite;
    padding-top: 0;
}
 
.ratiowarpper.onepop .twocols {
    width: 30%;
    margin-right: 0;
    margin-top: 0;
}
 
/*
.ratiowarpper.onepop .twocols input {
    text-align: left;
    float: none;
    margin-bottom: 10px;
    width: auto;
}
 
.ratiowarpper.onepop .twocols span
{
    min-width: 0;
}
*/
 
.onepop :checked + span {
    color: #000;
}
 
.onepop :checked + span + span input[type="text"] {
    background-color: #fff;
    border: 1px solid #197254;
    color: #000;
}
 
 
 
 
 
 
/*
MORE MENU
*/
.more.is_active
{
    transform: scaleY(1);
    transform-origin: top;
    transition: all .25s;
}
 
.more
{
    position: absolute;
    width: 210px;
    right: 15px;
    border-radius: 4px;
    padding: 15px;
    height: auto;
    top: 60px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .25s;
}
 
.more > .inside {
    background: #E0E0E0;
    border-radius: 4px;
    width: 100%;
    -webkit-box-shadow: -1px 5px 5px 5px rgba(255,255,255,0.10);
    -moz-box-shadow: -1px 5px 5px 5px rgba(255,255,255,0.10);
    box-shadow: -1px 5px 5px 5px rgba(255,255,255,0.10);
    cursor: pointer;
}

.more .inside::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 13px solid;
    border-color: #E0E0E0 transparent transparent transparent;
    top: 2px;
    margin-left: -13px;
    border-bottom-width: 0;
    right: 26px;
    transform: rotate(180deg);
} 
 
 
.more > .inside > div
{
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
    color: #757575;
    width: auto !important;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    padding-left: 46px;
    position: relative;
}
 
.more > .inside > div:hover
{
    background-color: #ccc;
}
 
.more > .inside > div > a
{
    text-align: left;
    line-height: 47px;
    color: #757575;
    font-size: 15px;
    padding: 0;
    position: absolute;
    top: 3px;
    left: 50px;
    right: 0;
    bottom: 0;
 
}
 
.more > .inside > div > a:hover
{
    border:none;
    color: #fff;
}
 
.more .rewards {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9Imh1bWJ1cmdlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzAxNTc5Qjt9Cjwvc3R5bGU+Cjx0aXRsZT5zdGFydDwvdGl0bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMiwxOS40bDcuNCw0LjZsLTItOC44TDI0LDkuMWwtOC42LTAuNkwxMiwwTDguNiw4LjRMMCw5LjFMNi42LDE1bC0yLDguOEwxMiwxOS40eiIvPgo8L3N2Zz4K") 16px 14px/22px no-repeat;
}
 
 

 
.more .share
{
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojN0I3QjdCO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE0LjQsMjAuM1YxNUM3LjcsMTUsMy4zLDE3LDAsMjEuNWMxLjMtNi4zLDUuMS0xMi43LDE0LjQtMTRWMi40bDkuNiw5TDE0LjQsMjAuM3oiLz4KPC9zdmc+Cg==") 16px 14px/22px no-repeat;
}
 
 
.more .sources {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojN0I3QjdCO30KPC9zdHlsZT4KPGc+Cgk8cmVjdCB4PSIxMCIgeT0iMTAiIGNsYXNzPSJzdDAiIHdpZHRoPSI0IiBoZWlnaHQ9IjEyIi8+Cgk8Y2lyY2xlIGNsYXNzPSJzdDAiIGN4PSIxMiIgY3k9IjQiIHI9IjIuNSIvPgo8L2c+Cjwvc3ZnPgo=") 16px 14px/22px no-repeat;
}
 
 
 
 
 
 
/*
TRANSITION ANIMATION
*/
 
 @keyframes sk-bouncedelay
 {
    0%,80%,100%
    {
        transform:scale(0);
    }
    40%
    {
        transform:scale(1.0);
    }
 }
  
  
  
.loaderGraphic {
    display: none;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 100%;
    height: 102%;
    z-index: 9999;
    background: center no-repeat rgba(255,255,255,1);
    transform: translateZ(0);
    transform: translate3d(0,0,0);
}

 
.loaderPageGraphic {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    z-index: 99999;
    background: center no-repeat rgba(255,255,255,1);
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    
    position:fixed;
    padding:0;
    margin:0;

} 
.spinner {
    position: absolute;
    margin: 0 0 0 -30px;
    left: 50%;
    top: 50%;
    width: 70px;
    text-align: center;
}
 
 
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #0055a5;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
 
 
 
.spinner .bounce1 {
    animation-delay: -0.32s;
}
 
.spinner .bounce2 {
    animation-delay: -0.16s;
}
 
/*
END TRANSITION ANIMATION
*/
 

 
/* SMALL */
@media only screen and (max-width :1799px) {
    
    .pagetext{
        margin-top: 10px;
    }
    
    .sidebar
    {
        margin: 10px 10px 10px 20px;
        font-size: 12px;
        line-height: 10px;
    }
 
    .sidebar .fieldset
    { 
/*        padding: 9px 0 9px 12px;*/
    }
 
    .pages
    {
        padding:10px 20px;
    }
    
    .main{
        max-height: 600px; 
    }
 
/*
    .header
    {
        height: 50px;
    }
     
    .header .nav
    {
        height: 50px;
    }
  

    .nav a
    {
        height: 50px;
        line-height: 55px;
        font-size: 16px;
        padding: 0 20px;
    }
     */
    .extranav {
        margin-right: 20px;
    }
     
    .extranav a {
        font-size: 14px;
    }
    .main .print
    {
        top: 20px;
        right: 20px;
    }  
    
/*
    .main .monthly_data_label
    {
        top: 600px;
        right: 17px;
    } 
    
*/
     
    .main .widget
    {
        right: 20px;
        bottom: 20px;
    }
     
    .main .help {
        bottom: 2px;
        left: 20px;
    }
     
    .twocol label
    {
        margin-bottom: 5px;
    }   
     
/*
    .nav .logotitle {
        width: 200px;
        top: -8px;
    }
*/
     
    .blocklabel {
        margin-top: 1em;
    }
    
    .pdfs a {
    	font-size: 19px;
    }
    .pdfs {
		padding: 20px 0;
		max-height: 300px;
	}
    
    .main .monthly_data_label
    {
        top: 507px;
        right: 20px;
    } 
    
    
    .main .risk_label
    {
        bottom: 40px;
        left: 336px;
    } 
 
    .chartspace {
        flex-grow: 1;
        padding-bottom: 20px; /* prevents chart from bumping nav */
      /*  padding-right: 120px;y-axis */
        height: 426px;
        position: relative;
    }
    
   
    
}

/* BIG */
@media only screen and (min-width :1800px) {
	
	
	.onepop {
    	width: 1150px;
    }
    
	
	
	.onepop .selectport {
		margin-right: 80px;
	}
	
	.onepop .twocols:first-of-type {
		margin-right: 80px;
	}
	
	
	.nav .logotitle {
		width: 250px;
	}

	
	.main{
		min-height: calc(80vh - 240px);
		line-height: 1.4em;
	}
	
	
	.sidebar {
		font-size: 15px;
		line-height: 18px;
		width: 340px;
		min-width: 340px;
		margin: 40px 10px 0px 25px;
		padding-right: 25px;
    }
    .sidebar .legend
    {
    	font-size: 17px;
    }
    
    .sidebar .fieldset {
	    padding: 15px 0 15px 12px;
	 }
	    
    .pages h1 {
    	font-size: 32px;
    }
    
    .pages p {
		font-size: 18px;
		line-height: 1.4em;
	}
	
	
	
	.prev, .next
	{
		width: 1.4em;
		height: 1.4em;
		font-size: 30px;
	}
	
	.prev svg {
		top: 2px;
	}

	.next svg {
		top: 2px;
	}
	
	.onepop .portfolio-total-number {
   	 	width: 750px;
	}
	
}

.twocols > div {
       margin-bottom: 10px;
   }

/* 
.other_year_box{
    width: 151px;
}
 
.other_ter_box{
    width: 151px;
}
*/