
 		 
		/* New Changes added to home page start*/
		.loader {
		    border: 5px solid #f3f3f3;
		    border-radius: 50%;
		    border-top: 5px solid #76934A;
		    width: 66px;
		    height: 66px;
		    -webkit-animation: spin 2s linear infinite;
		    animation: spin 1.5s linear infinite;
		}

		.loader-panel {
		    background: rgba(255 ,255,255,1);
		    height: 100%;
		    width: 100%;
		    position: fixed;
		    left: 0;
		    right: 0;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    z-index: 99999;
}
		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		button#createPdf_link {
		    width: 35px;
		    background: #69b8e8;
		    font-size: 16px;
		    height: 35px;
		    color: #fff;
		    border: navajowhite;
		    border-radius: 50%;
		    margin-top: 18px;
		}
		img.d-pdf {
 		   max-width: 15px;
		}
		
		#download-pdfs .modal-dialog {
 		   max-width: 350px;
		}
		 #upload_image1 {
		    margin-top: 15px;
		    background-color: #69b8e8;
		    border: none;
		    color: #fff;
		    padding: 0px 12px 0px 6px;
		    text-align: center;
		    display: block;
		    width: 35px;
		    margin: 10px auto 0;
		    border-radius: 50%;
		    height: 35px;
		}


		.edit_icon{
		    background-color: #fff;
		    border: none;
		    color: #fff;
		    padding: 0px 12px 0px 6px;
		    text-align: center;
		    display: block;
		    width: 30px;
		    border-radius: 50%;
		    height: 30px;
		    box-shadow: 1px 2px 5px #565656;
		}
		button#createPdf{
			margin-top: 10px;
		}
		#upload_image1 img {
		    max-width: 23px;
		    text-align: left;
		}
		button#upload_image1 {
    		margin-top: 18px !important;
 	   		margin-right: 10px;
		}
		div#download-pdfs .modal-header {
		    background-color: #69b8e8;
		    color: #fff;
		}
		#upload_image .modal-header {
		    background-color: #69b8e8;
		    color: #fff;
		}
		div#download-pdfs .modal-header .close, #upload_image .modal-header .close {
			color: #fff;
			opacity: 1;
			text-shadow: none;
		}
		#error_mail{
			color: #ff0000;
		}
		#upload_image{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
		}
		#download-pdfs{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
		}
		p#error_img {
 		   	position: absolute;
    	   	top: 4px;
	   		color: #ff0000;
    	 	font-size: 14px;
		}

		p#error_img.red { 
	   		color: #ff0000; 
		}
		p#error_img.green { 
	   		color: #4BB543; 
		}
		#error_mail{
			position: absolute;
    	   top: 4px;
    	   color: #ff0000;
    	 	font-size: 14px;
		}
		.rs_img{
			margin-top:12px;
		}
		.modal .btn.btn-primary, .modal .btn.btn-primary:hover{
			background-color: #69b8e8;
			border:0px;
			border-radius: 0px;
		}
		button:focus{
			outline:0px;
			box-shadow: none;
		}
		.header-items {
    		display: flex;
		}
		.logo-preview-img {
		   	display: none;
		    margin-left: 10px;
		    margin-top: 10px;
		    max-width: 100px;
		}
		.logo-preview {
		    max-width: 100px;
		    max-height: 54px;
		    object-fit: cover;
		}
		.edit_icon {
		    display: none;
		    position: absolute;
		    top: 0;
		    right: 0px;
		    padding-top: 9px;
		    z-index: 9;
		    cursor: pointer;
		}
		span.logo-preview-img:hover:after {
		    position: absolute;
		    content: "";
		    display: inline-block;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0, 0, 0, 0.4);
		    top: 0;
		    left: 0;
		    z-index: 0;	
		}
		.logo-preview-img:hover .edit_icon{
			display: block;
		}
		img.logo-edit {
		    max-width: 15px;
		    padding-left: 3px;
		}
		.logo-preview-img {
    		display: none;
    		position: relative;
		}
		@media only screen and (min-width:768px){
			#upload_image{
			  max-width: 400px;
			}
		}