<!--        <link href="portfolio/portfolio.css" rel="stylesheet" type="text/css">-->

        <div class='message'>{{TRANSLATION.PORTFOLIO_SAVED}}</div>

        <div class='poptitle'>
        	<h1>{{TRANSLATION.TITLE}}</h1>
 		</div><!-- end .poptitle -->
            
        <div class='sections'>
			<div class='selectport portsection portfolio-list'>
                
                <h2>{{TRANSLATION.SELECT_PORTFOLIO}}:</h2>
                
            {{#each PORTFOLIO_LIST}}
                
                <input type=radio class='{{@key}}' name=portoption {{#checkPortfolio @index}}checked{{else}}''{{/checkPortfolio}}>
                
                <input maxlength="22" class='{{@key}}' spellcheck="false" type="text" value="{{this.NAME}}">
                
            {{/each}}     
                
            </div>

            <div class='portassets portsection portfolio-allocation-box'>

                <h2>{{TRANSLATION.ASSET_ALLOCATION}}:</h2>

                    <div class='twocols assets inline'>

                        <h3>{{TRANSLATION.EQUITIES}}</h3> 
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[1].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="1" 
                                data-id="{{ALLOCATION_MAP.[1].CODE}}"
                                value="{{formatPercentage this 1}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[2].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="2" 
                                data-id="{{ALLOCATION_MAP.[2].CODE}}"
                                value="{{formatPercentage this 2}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[3].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="3" 
                                data-id="{{ALLOCATION_MAP.[3].CODE}}"
                                value="{{formatPercentage this 3}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[4].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="4" 
                                data-id="{{ALLOCATION_MAP.[4].CODE}}"
                                value="{{formatPercentage this 4}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[5].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="5" 
                                data-id="{{ALLOCATION_MAP.[5].CODE}}"
                                value="{{formatPercentage this 5}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[6].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="6" 
                                data-id="{{ALLOCATION_MAP.[6].CODE}}"
                                value="{{formatPercentage this 6}}"/>
                        </div>
                       
                    </div>                        
                    <div class='twocols assets inline'> 
                        
                        <h3>{{TRANSLATION.FIXED_INCOME}}</h3> 
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[7].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="7" 
                                data-id="{{ALLOCATION_MAP.[7].CODE}}"
                                value="{{formatPercentage this 7}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[8].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="8" 
                                data-id="{{ALLOCATION_MAP.[8].CODE}}"
                                value="{{formatPercentage this 8}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[9].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="9" 
                                data-id="{{ALLOCATION_MAP.[9].CODE}}"
                                value="{{formatPercentage this 9}}"/>
                        </div>
                        
                        <div>
                            <span>{{ALLOCATION_MAP.[10].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="10" 
                                data-id="{{ALLOCATION_MAP.[10].CODE}}"
                                value="{{formatPercentage this 10}}"/>
                        </div>
                        
                       
                        
                        <div style='margin-top:50px'>
                            <span>{{ALLOCATION_MAP.[11].NAME}}:</span>
                            <input type="text"   
                                class="portfolio-input-text"
                                maxlength="3"
                                size="4"
                                id="11" 
                                data-id="{{ALLOCATION_MAP.[11].CODE}}"
                                value="{{formatPercentage this 11}}"/>
                        </div>

                    </div>                    

            </div> <!-- end .portassets.portsection -->       
        </div><!-- end .sections -->      

        <div class="portfolio-total-number">{{getPortfolioTotal}}</div>

        <div class='buttonholder'>
            <div class="btn portfolio-save-button">{{TRANSLATION.SAVE}}</div>
        </div>

        <div class="note">
            {{{TRANSLATION.MESSAGE_AT_BOTTOM}}}
        </div>

        
<!--
        <div class='portfolio_unsaved_wrapper popup onepop portfolio_unsaved_warning'>

            <div class='poptitle'>
        	
        	   <h2>WARNING</h2>
 		 			
 		     </div>
            
            <div class='ratiosections'>

                    Unsaved changes ... 

             </div>

            <div class="buttonholder margin_top_a">
                <div class="btn margin_top_b unsaved-save-button">Save</div>
                <a href="javascript:void(0)" class="btn_link font16 margin_left_b unsaved-cancel-button">Cancel</a>
            </div>
       

        </div>
-->
